<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<head>
    <title>Novareachhk</title>
    <link rel="icon" type="image/png" sizes="192x192" href="img/1000.png">
    <link rel='stylesheet'  href='./css/index.css' type='text/css' media='all' />
    <script type="text/javascript" src="js/jquery.min.js"></script>
</head>

<body>
    <div class="centerbox">
        <!-- <div class="logo"> -->
            <img src="./img/200-50.png" style="height:50px;">
        <!-- </div> -->
        <div class="menu">
            <div class="menulist" onClick="click_scroll()">Advertiser</div>
            <div  class="menulist" onClick="click_pubScroll()">Publishers</div>
            <div  class="menulist" onClick="click_aboutScroll()">About Us</div>
            <div  class="menulist" onClick="click_contectScroll()">Contect Us</div>
        </div>
    </div>
    <div class="body_header">
        <div class="top">
            <div class="headerfonts">
                <h2 class="big">Driving Real Connections</h2>
                <p class="small">We help brands understand, identify, engage and acquire consumers.</p>
            </div>
        </div>
        <div class="centertipbox">
            <h3>Novareachhk University!</h3>
            <p>Free courses for advertisers and publishers</p>
        </div>
      
    </div>
    <h2 class="onetitlebig">Mobile Marketing</h2>
    <div class="onetitlesmall">Today’s consumer is evolving at a speed that is difficult to keep pace with. Novareachhk's technology platform and exclusive access to mobile intelligence, and create new paths to understand, identify, engage and acquire consumers.</div>
    <div class="flextwo">
        <div class="left" style="margin-right: 20px;">
            <div class="picdiv">
                <img src="./img/home_tile_2_1.jpg"/> 
                <div class="pictitle">
                    <h2>Understand and Identify Your Target Consumers</h2>
                </div>
            </div>
            <p class="conflex">Discover the ever-evolving needs of consumers through Novareachhk Pulse. Identify the best customer segments using Novareachhk Audiences and supercharge your marketing campaigns.</p>
        </div>
        <div class="left">
            <div class="picdiv">
                <img src="./img/home_tile_2_2.jpg"/> 
                <div class="pictitle">
                    <h2>Engage and Acquire Your Best Customers</h2>
                </div>
            </div>
            <p class="conflex">Deliver brand experiences that inspire action using Novareachhk Exchange. Acquire high-quality users at scale with Novareachhk DSP and grow your business.</p>
        </div>
    </div>
    <div class="flextwo" id="Advertiser">
        <div class="picinside">
            <img src="./img/tile4-audiences-explore-audiences.jpg"/>
        </div>
        <div class="fontinside" style=" margin-left: 50px;">
            <h2 class="p_title">Advertiser</h2>
            <p  class="p_con">You can rest assured that your offers will be delivered to the right people.
                Our platform is equipped with advanced anti-fraud detection tools
                that enable us to conduct real-time and accurate monitoring and reporting.
                In addition,
                we have our own traffic and trusted partners that can help you promote your campaigns worldwide.</p>
        </div>
        
    </div>
    <div class="flextwo" id="Publishers">
        <div class="fontinside" >
            <h2 class="p_title">Publishers</h2>
            <p  class="p_con">Entrust the whole process to us once the cooperation is established.
                you will receive all the hottest quotations and the freshest ideas
                In addition,
                we will provide unique solutions for finding and accepting profitable users.
                We prefer to pay on time
                but we also provide you with flexible payment terms.</p>
        </div>
        <div class="picinside" style=" margin-left: 50px;">
            <img src="./img/tile4-audiences-high-quality.jpg"/>
        </div>
       
        
    </div>
    <div class="flextwo" id="About">
        <div class="picinside">
            <img src="./img/tile4-audiences-insights.jpg"/>
        </div>
        <div class="fontinside" style=" margin-left: 50px;">
            <h2 class="p_title">About Us</h2>
            <p  class="p_con">It has gathered professionals with rich experience to create such a global intelligent data-driven marketing platform. We have connected brands, advertisers and affiliates around the world.</p>
        </div>
        
    </div>
    <div class="custitle">Customer Success Stories</div>
    <div class="flextwo">
        <div class="threebox">
            <div class="img_th_box">
                <img src="./img/loreal-cs-home-v1.jpg" />
            </div>
            <div class="btmbox">L'Oreal India: Beauty for all - Retail Consumer Experience in your palm!</div>
        </div>
        <div class="threebox" style="margin: 0 50px;">
            <div class="img_th_box">
                <img src="./img/mondelez-cs-home-v1.jpg" />
            </div>
            <div class="btmbox">Mondelez Reveals the 'Sweet Secret' of Cadbury Chocobakes using</div>
        </div>
        <div class="threebox">
            <div class="img_th_box">
                <img src="./img/ponds-cs-home-v1.jpg" />
            </div>
            <div class="btmbox">Pond's Creates World's First Augmented Reality Rich Media</div>
        </div>
    </div>
    <div class="custitle">Learn With Novareachhk</div>
    <div class="flextwo">
        <div class="fourboxs">
            <div class="fourpic">
                <img src="./img/big.webp" style="width: 100%;">    
            </div>
            <div class="fourbtm">
                <h2>Driving Growth in Uncertain Times: Your Guide to SKAN 4.0</h2>
                <p>Welcome to your one-stop resource for all the tools and insights you need to succeed in the privacy-first world with Apples AppTrackingTransparency (ATT) and SKAdNetwork (SKAN) 4.0 attribution framework.</p>
            </div>
        </div>
        <div class="fivbox">
            <div class="fiv_one">
                <div class="fourpic">
                    <img src="./img/In-App-Advertising-Rates.jpg" style="width: 100%;">    
                </div>
                <h3 class="fivcon">How Are In-App Advertising Rates Calculated?</h3>
            </div>
            <div class="fiv_one">
                <div class="fourpic">
                    <img src="./img/In-App-Advertising.jpg" style="width: 100%;">    
                </div>
                <h3 class="fivcon">How Does In-App Advertising Work?</h3>
            </div>
        </div>
    </div>
    <footer style="height: 250px;padding-top: 30px; width: 100%;background-color: rgb(1, 36, 61);" id="Contact">
        <a name="Contect"></a>
        <div style="font-size: 52px;font-weight: 700;color: #ccc;text-align: center;margin-top: 20px;">Contact Us</div>
        <div style="margin-top: 30px;">
            <p style="color: #ccc;font-size: 16px;text-align: center;">support@novareachhk.com</p>
            <p style="color: #ccc;font-size: 16px;text-align: center;">Copyright &copy; <script>document.write(new Date().getFullYear())</script> Novareachhk.Ltd.</p>
        </div>
    </footer>
    <script>
        function click_contectScroll(){
            var scroll_offset = $("#Contact").offset();
            $("body,html").animate({scrollTop:scroll_offset.top},300);
        }
        function click_scroll(){
                var scroll_offset = $("#Advertiser").offset();
                $("body,html").animate({scrollTop:scroll_offset.top},300);
            }
            function click_pubScroll(){
                var scroll_offset = $("#Publishers").offset();
                $("body,html").animate({scrollTop:scroll_offset.top},300);
            }
            function click_aboutScroll(){
                var scroll_offset = $("#About").offset();
                $("body,html").animate({scrollTop:scroll_offset.top},300);
            }
    </script>
</body>