<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/owl.carousel.min.css">
  <link rel="stylesheet" href="./css/owl.theme.default.css">
  <link rel="stylesheet" href="https://zonemedia.co/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://zonemedia.co/vendors/aos/css/aos.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="icon" href="./img/200-50.png" sizes="32x32" />
  <link rel="preload" as="image" href="./img/200-50.png">
  <script src="https://zonemedia.co/vendors/jquery/jquery.min.js"></script>
  <script src="https://unpkg.com/@dotlottie/player-component@1.0.0/dist/dotlottie-player.js"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZW5CRLSDSP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-ZW5CRLSDSP');
  </script>
  <title> Marketnnest - Best Digital Marketing Agency In Gurugram | SEO, SMO, PPC, Sales &High ROI</title>
  <meta name="description"
    content="Zonemedia is one of the best digital marketing agency, ROI oriented Digital marketing solution. Effective social media marketing, PPC, SEO with good client experience.">
</head>
<body id="body" data-spy="scroll" data-target=".navbar" data-offset="100" style="overflow-x: hidden;">
  <header id="header-section">
    <nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar">
      <div class="container">
        <div class="navbar-brand-wrapper d-flex w-100">
          <a class="nav-link">
            <img src="./img/200-50.png" alt="Marketnnest" class="pb-2" style="width: 90px;">
          </a>
          <button class="navbar-toggler  ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="mdi mdi-menu navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse navbar-menu-wrapper" id="navbarSupportedContent">
          <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
            <button class="navbar-toggler close-button ml-auto" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="mdi mdi-close navbar-toggler-icon pr-2"></span>
            </button>
            <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
              <div class="navbar-collapse-logo">
                <a class="nav-link">
                  <img src="./img/200-50.png" alt="Marketnnest" class="pb-2" style="width: 200px;">
                </a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#home-section">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about-section">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#case-studies-section">Services</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="banner" id="home-section">
    <div class="container">

      <div class="col-md-4" style="margin: 0 auto;">
        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_xktjqpi6.json" background="transparent"
          speed="1" class="moscot-1" style="width: 100%;" loop="" autoplay="" loading="lazy"></lottie-player>
      </div>
      <h1 class="font-weight-semibold">Grow your business with<br>Digital Marketing.</h1>
      <h6 class="font-weight-normal text-muted pt-1 pb-3">Strategically Initiating a unique brand experience that yields
        a better ROI for your business</h6>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="container">
      <section class="features-overview" id="services-section">
        <div class="content-header">
          <h2>Our Services</h2>
          <h6 class="section-subtitle text-muted">RESULTS DRIVEN SOCIAL ANIMALS WITH CREATIVITY AND TECHNOLOGY AT ITS CORE!</h6>
        </div>
        <div class="d-md-flex justify-content-between">
          <div class="grid-margin d-flex justify-content-start">
            <div class="features-width">
              <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_hwcplx4x.json" background="transparent"
                speed="1" class="img-icons" loop="" autoplay="" loading="lazy"></lottie-player>
              <h5 class="py-3">Social<br>Media</h5>
              <p class="text-muted">Using social media tools for advertising your product can be a major gamechanger for
                your business. Choose from a wide range of formats like photos, videos, slideshows, carousel etc. for
                creating maximum impact. We monitor and manage influencer posts, which can bring about a radical
                difference in brand outreach. Our services include accurate analytics of conversions to help you
                channelize your resources effectively and optimize conversion within your budget.</p>
            </div>
          </div>
          <div class="grid-margin d-flex justify-content-center">
            <div class="features-width">
              <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_amnqanpd.json" background="transparent"
                speed="1" class="img-icons" loop="" autoplay="" loading="lazy"></lottie-player>
              <h5 class="py-3">Programmatic<br>Ads</h5>
              <p class="text-muted">Internet has replaced TV as the preferred source of information, entertainment and
                communication for millennials. Watching and sharing videos has almost attained equal status as
                mainstream media consumption among the youth. Hence more and more brands are vying for coveted ad space
                on YouTube, DailyMotion, Vimeo, Twitch etc. We help you create tailor made video advertising campaigns,
                so you can optimize conversions and maximize your earning potential.</p>
            </div>
          </div>
          <div class="grid-margin d-flex justify-content-end">
            <div class="features-width">
              <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_bsb0llfx.json" background="transparent"
                speed="1" class="img-icons" loop="" autoplay="" loading="lazy"></lottie-player>
              <h5 class="py-3">Content<br>Marketing</h5>
              <p class="text-muted">Through real-time bidding on ad inventory, we will help you display your ads only to
                customers who matter. This practice is a huge step-up from the traditional processes of manually buying
                ad space. We can thus help you optimise your ad costs and, and exponentially boost efficiency by
                channelizing efficient human capital away from wasteful manual negotiations and transactions, towards
                more goal-oriented and contextually relevant advertising.</p>
            </div>
          </div>
        </div>
        <div class="d-md-flex justify-content-between">
          <div class="grid-margin d-flex justify-content-start">
            <div class="features-width">
              <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_4VvdIQ.json" background="transparent"
                speed="1" class="img-icons" loop="" autoplay="" loading="lazy"></lottie-player>
              <h5 class="py-3">Pay-per-Click (PPC)<br>Advertising</h5>
              <p class="text-muted">Outperform competitors with laser-targeted paid search campaigns</p>
            </div>
          </div>
          <div class="grid-margin d-flex justify-content-center">
            <div class="features-width">
              <lottie-player src="https://assets5.lottiefiles.com/private_files/lf30_q94rhgy9.json"
                background="transparent" speed="1" class="img-icons" loop="" autoplay="" loading="lazy"></lottie-player>
              <h5 class="py-3">Email<br>Marketing</h5>
              <p class="text-muted">We keep you in your customers’ inboxes and on top of their minds.</p>
            </div>
          </div>
          <div class="grid-margin d-flex justify-content-end">
            <div class="features-width">
              <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_bsb0llfx.json" background="transparent"
                speed="1" class="img-icons" loop="" autoplay="" loading="lazy"></lottie-player>
              <h5 class="py-3">Analytics &amp;<br>Reporting</h5>
              <p class="text-muted">Track and report key metrics and take actions to improve performance</p>
            </div>
          </div>
        </div>

      </section>
      <section class="digital-marketing-service" id="about-section">
        <div class="row align-items-center">
          <div class="col-12 col-lg-7 grid-margin grid-margin-lg-0" data-aos="fade-right">
            <h3 class="m-0">About Us</h3>
            <div class="col-lg-7 col-xl-6 p-0">
              <p class="py-4 m-0 text-muted">We at Marketnnest only believe in delivering innovative campaigns that drive
                traffic, leads and sale. We work towards driving excellence in everything we do be it work,
                communication or party.</p>
              <p class="font-weight-medium text-muted">Get personalized services for your business. From Digital
                Marketing to Media Management and Branding, we’ve got it all.</p>
            </div>
          </div>
          <div class="col-12 col-lg-5 p-0 img-digital grid-margin grid-margin-lg-0" data-aos="fade-left">
            <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_snxqzipw.json" background="transparent"
              speed="1" class="moscot-1" style="width: 100%;" loop="" autoplay="" loading="lazy"></lottie-player>
          </div>
        </div>
        <div class="row align-items-center ">
          <div class="col-12 col-lg-7 text-center flex-item grid-margin grid-margin-lg-0" data-aos="fade-right">
            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_dprsutzw.json" background="transparent"
              speed="1" class="moscot-1" style="width: 100%;" loop="" autoplay="" loading="lazy"></lottie-player>

          </div>
          <div class="col-12 col-lg-5 flex-item grid-margin" data-aos="fade-left">
            <h3 class="m-0">Leading Digital Agency<br>for Business Solution.</h3>
            <div class="col-lg-9 col-xl-8 p-0">
              <p class="py-4 m-0 text-muted">Power-packed with impressive features and well-optimized, this template is
                designed to provide the best performance in all circumstances.</p>
              <p class="pb-2 font-weight-medium text-muted">Its smart features make it a powerful stand-alone website
                building tool.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="case-studies pt-3" id="case-studies-section">
        <div class="row grid-margin">
          <div class="col-12 text-center pb-5">
            <h2>Why Choose US</h2>
            <h6 class="section-subtitle text-muted">RESULTS DRIVEN SOCIAL ANIMALS WITH CREATIVITY AND TECHNOLOGY AT ITS
              CORE!</h6>
          </div>
          <div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in">
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-primary text-center card-contents">
                  <div class="card-image">
                    <img src="./img/Group95.svg" class="case-studies-card-img" alt="">
                  </div>
                </div>
                <div class="card-details text-center pt-4">
                  <h6 class="m-0 pb-1">DEDICATED ACCOUNT MANAGEMENT</h6>
                  <p>Dedicated &amp; active account management &amp; Support Team for quick response.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-warning text-center card-contents">
                  <div class="card-image">
                    <img src="./img/Group108.svg" class="case-studies-card-img" alt="">
                  </div>
                </div>
                <div class="card-details text-center pt-4">
                  <h6 class="m-0 pb-1">ROI FOCUS</h6>
                  <p>The in-house Ad Ops team have Return on Investment (ROI) focus which helps to derive the best of
                    results against every penny spent.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-violet text-center card-contents">
                  <div class="card-image">
                    <img src="./img/Group126.svg" class="case-studies-card-img" alt="">
                  </div>
                </div>
                <div class="card-details text-center pt-4">
                  <h6 class="m-0 pb-1">DESIGN &amp; TECH</h6>
                  <p>Our in-house design &amp; tech teams have a cumulative experience of over 100+years, making them
                    one of the best in the industry.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 stretch-card" data-aos="zoom-in" data-aos-delay="600">
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-success text-center card-contents">
                  <div class="card-image">
                    <img src="./img/Group115.svg" class="case-studies-card-img" alt="">
                  </div>
                </div>
                <div class="card-details text-center pt-4">
                  <h6 class="m-0 pb-1">FRAUD DETECTION &amp; REPORTING</h6>
                  <p>We have our own in-house fraud detection &amp; reporting platforms which ensures that brands does
                    not spend their budgets in illegitimate &amp; Non Human traffic.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
  <div class="container">
    <div>
      <section class="contact-details" id="contact-details-section">
        <div class="row text-center text-md-left">
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <img src="./img/200-50.png" alt="Marketnnest Logo" class="pb-2" style="width: 150px;">
            <div class="pt-2">
              <p class="text-muted m-0"><a href="tel:+919654597719"></a>+91 96545 97719</p>
              <p class="text-muted m-0">1147938</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin d-none">
            <h5 class="pb-2">Get in Touch</h5>
            <p class="text-muted">Don’t miss any updates.!</p>
            <form class="subscribe-form" id="subscription-form">
              <input type="text" class="form-control mb-1" id="Email" placeholder="Email id">
              <div class="pt-3">
                <button type="submit" id="subscribe-button" type="submit" class="btn btn-dark hide">Subscribe</button>
              </div>
            </form>
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <h5 class="pb-2">Our Services</h5>
            <a>
              <p class="m-0 pt-1 pb-2">Social Media Marketing</p>
            </a>
            <a>
              <p class="m-0 pt-1 pb-2">Affiliate Marketing</p>
            </a>
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">

            <h5 class="pb-2">Important Links</h5>
            <a>
              <p class="m-0 pt-1 pb-2">Privacy policy</p>
            </a>
            <a >
              <p class="m-0 pt-1 pb-2">Terms & Conditions</p>
            </a>
        
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <h5 class="pb-2">Our address</h5>
            <p class="text-muted">Gurgaon, Haryana</p>
          </div>
        </div>
      </section>
      <footer class="border-top">
        <p class="text-center text-muted pt-4">Copyright © <script>document.write(new Date().getFullYear())</script><a
            class="px-1">Marketnnest.</a>All rights reserved.</p>

          <P class="text-center text-muted">support@marketnnest.com</P>
      </footer>
      <div class="modal fade" id="contactmodal" tabindex="-1" role="dialog" aria-labelledby="contactmodalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <form action="" method="POST" class="contact-form d-none">
                <div class="row">
                  <div class="col-12">
                    <lable class="small">Name</lable>
                    <input type="text" class="form-control mb-1" name="name" id="name" placeholder="Name" required
                      minlength="4" />
                  </div>
                  <div class="col-md-6">
                    <lable class="small">Email</lable>
                    <input type="email" class="form-control mb-1" name="email" id="email" placeholder="Email"
                      required />
                  </div>
                  <div class="col-md-6">
                    <lable class="small">Mobile</lable>
                    <input type="tel" class="form-control mb-1" name="phone" id="phone" placeholder="9876543210"
                      pattern="[0-9]{10}" required title="Phone number must be 10 digit." />
                  </div>
                  <div class="col-12">
                    <lable class="small">Subject</lable>
                    <input type="text" class="form-control mb-1" name="subject" id="subject" placeholder="Subject"
                      required />
                  </div>
                  <div class="col-12">
                    <lable class="small">Message for Us</lable>
                    <textarea class="form-control mb-1" name="message" id="message" placeholder="Type Message" rows="5"
                      required></textarea>
                  </div>
                  <div class="col-12">
                    <div class="button text-center rounded-buttons">
                      <button type="submit" name="submit" class="btn btn-primary rounded-full">
                        Send Message
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <div class="cognito">
                <script data-cfasync="false"
                  src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                <script src="https://www.cognitoforms.com/s/_0OoUSHMwUKyalfoknUQmA"></script>
                <script>Cognito.load("forms", { id: "50" });</script>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light  d-none" data-dismiss="modal">Close</button>
            </div>
            <div id="contactFormResponse"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
    integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://zonemedia.co/vendors/owl-carousel/js/owl.carousel.min.js"></script>
  <script src="https://zonemedia.co/vendors/aos/js/aos.js"></script>
  <script src="https://zonemedia.co/js/landingpage.js"></script>
</body>

</html>