<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Growthkithk</title>
    <link rel="shortcut icon" href="./img/1000.png" type="image/png">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./css/index.css'>
    <link rel="stylesheet" href="./styles/iconfont.css">
</head>
<body>
    <div class="bg_top">
        <div class="header_zone">
            <div class="logo_bar">
                <div class="logo"><img src="./img/200-50_white.png" style="height:100%;"/></div>
            </div>
                <div class="center">
                    <span class="menu_item">Home</span>
                    <span class="menu_item">Advertisers</span>
                    <span class="menu_item">Publishers</span>
                    <span class="menu_item">About</span>
                    <span class="menu_item">Contact</span>
                </div>
        </div>

        <div class="header_content">
            <h1 class="slogon">
                We are <span>Growthkithk</span>
            </h1>
            <div class="scroltext">RESPONSIBLE</div>
            <div class="linearr">
                <div class="firstline"></div>
                <div class="lastline"></div>
            </div>
            <div class="btns">learn more about us!</div>
            <div class="boxlifa">
                <div class="boxli">
                    <div class="icons"><i class="iconfont icon-falv" style="font-size: 50px;"></i></div>
                    <div class="fontss">open rtb</div>
                </div>
                <div class="boxli">
                    <div class="icons"><i class="iconfont icon-baobiao" style="font-size: 50px;"></i></div>
                    <div class="fontss">performence</div>
                </div>
                <div class="boxli">
                    <div class="icons"><i class="iconfont icon-dianzichanpin-" style="font-size: 50px;"></i></div>
                    <div class="fontss">display</div>
                </div>
                <div class="boxli">
                    <div class="icons"><i class="iconfont icon-video" style="font-size: 50px;"></i></div>
                    <div class="fontss">video</div>
                </div>
            </div>
        </div>
       
    </div>
    <div class="growth">
        <div class="esllise mawith">
            <div class="left">
                <div class="o_f">Your partner in growth</div>
                <div class="t_f">AREAS OF OUR EXPERTISE</div>
                <div class="tr_f">Grasp the best to enhance your business</div>
                <div class="c_f">
                    Programmatic Advertising is a revolution but evolving it further is the key to this innovation. Meet our dynamic and powerful AI, <strong>Growthkithk</strong>, that connects <strong>Audience Insights, Historical User Data, Artificial Intelligence,</strong> and <strong>Human Touch</strong> and is evolving the Digital Advertisement world forever. <strong>'Growthkithk'</strong> will lead a paradigm shift in digital advertising by strengthening our Programmatic Ecosystem by bringing in Demand Partners, Supply Allies, and Quality tools, to offer a one-stop solution to various aspects of our industry.
                </div>
            </div>
            <div class="right">
                <img src="./img/home-infograph-1.jpg" >
            </div>
        </div>
    </div>
    <div class="datashow">
        <div class="esllise mawith" style="position: absolute;top:50px;left:0;right:0;z-index:999">
            <div class="inerdata">
                <div class="loicon"><i class="iconfont icon-falv" style="font-size: 50px;"></i></div>
                <div class="plus">75</div>
                <div class="dics">DSPs</div>
            </div>
            <div class="inerdata">
                <div class="loicon"><i class="iconfont icon-baobiao" style="font-size: 50px;"></i></div>
                <div class="plus">25</div>
                <div class="dics">SSPs</div>
            </div>
            <div class="inerdata">
                <div class="loicon"><i class="iconfont icon-dianzichanpin-" style="font-size: 50px;"></i></div>
                <div class="plus">100</div>
                <div class="dics">HAPPY CLIENTS</div>
            </div>
            <div class="inerdata">
                <div class="loicon"><i class="iconfont icon-video" style="font-size: 50px;"></i></div>
                <div class="plus">110</div>
                <div class="dics">EMPLOYEES WORKING</div>
            </div>
        </div>
    </div>
    <div class="searvice">
        <div class="mawith">
            <div class="service_t">OUR SERVICES</div>
            <div class="service_st">Growthkithk Media, a holistic programmatic ecosystem helps connect brands with their respective</div>
            <div  class="service_st">publisher across all formats and devices.</div>
            <div class="esllise" style="align-items: flex-start; margin-top: 60px;">
                <div class="service_box">
                    <div class="iconbos"><i class="iconfont icon-falv" style="font-size: 26px;"></i></div>
                    <div class="service_punch" style="  width: 65%;">POWERFUL OPEN <span>RTB</span></div>
                    <div class="linsa"></div>
                    <div class="ser_conte">Growthkithk brings logistical infrastructure to connect DSPs, Advertisers, SSPs, Publishers and App Developers in this alluring Digital Ecosystem. </div>
                </div>
                <div class="service_box">
                    <div class="iconbos"><i class="iconfont icon-baobiao" style="font-size: 26px;"></i></div>
                    <div  class="service_punch" style="  width: 100%;"><span>PERFORMANCE</span> PROGRAMMATIC WAY</div>
                    <div class="linsa"></div>
                    <div class="ser_conte">With our breakthrough technology we team historical user data and artificial intelligence that achieve performance goals.</div>
                </div>
                <div class="service_box">
                    <div class="iconbos"><i class="iconfont icon-dianzichanpin-" style="font-size: 26px;"></i></div>
                    <div class="service_punch" style="width: 100%;">BESPOKE <span>DISPLAY</span> SOLUTIONS</div>
                    <div class="linsa"></div>
                    <div class="ser_conte">With advanced machine learning and our business knowledge we create a boutique of custom solutions which help us achieve every unique requirement of our clients.</div>
                </div>
                <div class="service_box">
                    <div class="iconbos"><i class="iconfont icon-video" style="font-size: 26px;"></i></div>
                    <div class="service_punch" style="width: 100%;">REVOLUTIONARY <span>VIDEO</span> TECHNOLOGY</div>
                    <div class="linsa"></div>
                    <div class="ser_conte"> Reach your audience with our innovational multi-device video technology. We offer a premium, all-inclusive, brand-safe marketplace across CTV, Apps, Desktop and Mobile Web. </div>
                </div>
            </div>
        </div>
    </div>
    <div class="datashow2" style="height:auto">
        <div class="bouts">About US</div>
    </div>
    <div class="growth">
        <div class="esllise mawith" style="justify-content: center;">
            <div class="aboutitem">
                <div class="_about_p">
                    <i style="font-size: 30px;" class="iconfont icon-fenxiao"></i>
                </div>
                <div class="abot_t">Who We Are?</div>
                <div class="lines"></div>
                <div class="about_con">With our years of experience across all fields in Digital Marketing, we are one of the world’s leading full stack platform that works on multiple levels from branding (Display, Mobile & Video) to Performance (CPS, CPL, CPI, CPT) campaigns via our OpenRTB / Programmatic Platform. We are proud to be associated with many Fortune 500 Brands and all the major multinational agencies. We have served them in full digital promotion life cycle of various successful products.</div>
            </div>
            <div class="aboutitem">
                <div class="_about_p"><i style="font-size: 30px;"  class="iconfont icon-rect-filter"></i></div>
                <div class="abot_t">What We Do?</div>
                <div class="lines"></div>
                <div class="about_con">Founded by young engineers and tech-savvy entrepreneurs Nitin Gupta, Ramneek Chadha, Rohit Arora, Prabhjinder Singh, Nipun Chadha and Alok Pandey with a vision to change the landscape of digital advertisement world. Growthkithk, under guidance, is on a mission to change traditional media buying practices by bringing technology-based Digital Advertising. We will bring this revolution by redefining the way ad operations are being managed across multiple digital ad platforms.</div>
            </div>
            <div class="aboutitem">
                <div class="_about_p"><i style="font-size: 30px;"  class="iconfont icon-fenxi"></i></div>
                <div class="abot_t">The Dream!</div>
                <div class="lines"></div>
                <div class="about_con">We are equally proud of our journey, that started literally in a garage with a handful of resources and bag full of dreams, to being Technology driven Digital Market platform having expanded to various parts of the globe like US, UK, and Singapore. But our dreams have just started taking shape and there is lot we believe in and want to achieve in the coming future. We would love to have each and every stakeholder of our industry to make Digital Advertisement a bigger revolution!</div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div style="margin: 0 5px 0 0;text-align: center;font-size: 14px;">
            Copyright © 2023<span class="sep"></span>
            Growthkithk.Ltd.<br/>
            support@growthkithk.com
        </div>
    </div>
</body>
</html>