<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Click-grove - Complete App User Acquisition Campaigns | Performance Marketing For Apps</title>
    <link rel="stylesheet" href="./css/style.min.css">
    <link rel="icon" type="image/png" sizes="192x192" href="img/200-50.png">
</head>
<body class="main__body">
    <!-- Header -->
    <header>
        <!-- Navbar -->
        <nav>
            <div class="container">
                <div class="navbar">
                    <a href="./index.html">
                        <div class="logo"> <img src="./img/200-50.png" class="logo__img"  style="height: 90px;"> </div>
                    </a>
                    <div class="burger">
                        <span></span>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Hero -->
    <section class="section__hero">
        <div class="container">
            <div class="hero">
                <div class="hero__left">
                    <div class="hero__item">
                        <div class="hero__item-platform">
                            <div class="item-platform">
                                <div class="item-platform-text">Scaling your ads
                                    <img src="./img/image 1.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="hero__item-support">
                            <div class="item-support">
                                <div class="item-support-text">Great support
                                    <img src="./img/image 2.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item-title">
                        <span id="headline">Performance Marketing for Apps
                    </div> </span>
                    <script>
                        const headlines = ["Scalable App User Acquisition Campaigns", "Get More Engaging Installs For Your App", "Performance Marketing for Apps"];
                        let currentHeadline = 0;
                        const headlineElement = document.getElementById("headline");

                        function changeHeadline() {
                            headlineElement.innerHTML = headlines[currentHeadline];
                            currentHeadline = (currentHeadline + 1) % headlines.length;
                        }

                        setInterval(changeHeadline, 5000);
                    </script>
                    <br />
                </div>
                <div class="hero__item-subtitle"><span style="font-size:20px;">We've got high quality traffic that can
                        drive installs to your App - highly engaging users. Click-grove does complete end to end user
                        acquisition. <br /><br /></br.><strong><span style="color:#FFF;">
                                <li>Cost per install</li>
                                <li>Cost per engagement</li>
                                <li>Cost per registration</li>
                                <li>Cost per action</li><br />
                                Let's run these campaigns for your App.</strong><br /><br />
                        At Click-grove, we have a team of experts with unmatched expertise in mobile app marketing. We
                        stay up-to-date with the latest trends and best practices in the industry, allowing us to
                        develop effective strategies and campaigns for our clients. Our team has experience working with
                        a wide range of apps </span></div>
            </div>

        </div>
        </div>
    </section>

    <!-- Main Page -->
    <main>
        <!-- Features -->
        <section class="section__features">
            <div class="container">
                <div class="features">
                    <h4 class="features__subtitle">Our features</h4>
                    <h1 class="features__title">We work with thousands of Apps every single day</h1>

                    <div class="features__items">
                        <div class="feature__item  yellow">
                            <img src="./img/Group 84.svg" alt="">
                            <h1 class="feature__item-title">REDUCE COSTS</h1>
                            <h4 class="feature__item-subtitle">We optimize ads every single day to reduce your costs.
                                Our experts understand what drives traffic and how to reduce overall CPT, CPM, CPI and
                                other important metrics.</h4>
                        </div>

                        <div class="feature__item  green">
                            <img src="./img/Group 83.svg" alt="">
                            <h1 class="feature__item-title">AI ALGORITHMS</h1>
                            <h4 class="feature__item-subtitle">Hit ROAS & join top ad spenders who’ve automated 95% of
                                optimization with AI algorithms.</h4>
                        </div>

                        <div class="feature__item  pink">
                            <img src="./img/Group 82.svg" alt="">
                            <h1 class="feature__item-title">INSIGHTS</h1>
                            <h4 class="feature__item-subtitle">Understand how your competitors spend across keywords,
                                reduce costs and scale to acquire new customers.</h4>
                        </div>

                        <div class="feature__item  blue">
                            <img src="./img/Group 81.svg" alt="">
                            <h1 class="feature__item-title">TEAM SUPPORT</h1>
                            <h4 class="feature__item-subtitle">Large team to manage your ads every day. Available on
                                chat, email or call instantly. Customer satisfaction is our top priority.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Text -->
        <section class="section__text">
            <div class="container">
                <div class="text__title">
                    Are you tired of running the same ads and spending money without massive results? Scale your ads to
                    acquire customers at a fast pace without wasting previous dollars. Let our experts handle your user
                    acquisition campaigns.
                </div>
            </div>
        </section>

        <!-- Control -->
        <section class="section__control">
            <div class="container">
                <div class="control">
                    <div class="control__items">
                        <div class="control__item">
                            <h2 class="control__item-title">Expert Setup</h2>
                            <div class="control__item-content">
                                <img src="./img/green.svg" alt="" class="item__content-svg">
                                <h1 class="item__content-text">Get our Ad experts to setup your entire campaign</h1>
                            </div>
                            <div class="control__item-content">
                                <img src="./img/green.svg" alt="" class="item__content-svg">
                                <h1 class="item__content-text">Use the perfect campaign structure, recommended
                                    strategies, the right target audience and the exact settings</h1>
                            </div>
                            <div class="control__item-content">
                                <img src="./img/green.svg" alt="" class="item__content-svg">
                                <h1 class="item__content-text">Drive high installs towards your App while keeping costs
                                    low
                                </h1>
                            </div>
                            <div class="control__item-content">
                                <img src="./img/green.svg" alt="" class="item__content-svg">
                                <h1 class="item__content-text">Track results constantly and let our experts optimize
                                    your ads further to drive better results</h1>
                            </div>
                        </div>
                        <div class="control__item">
                            <img src="./img/control.png" alt="" class="control__item-foto">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Reporting -->
        <section class="section__reporting">
            <div class="container">
                <div class="reporting">
                    <div class="reporting__items">
                        <div class="reporting__item">
                            <img src="./img/reporting.png" alt="" class="reporting__item-foto">
                        </div>
                        <div class="reporting__item">
                            <h2 class="reporting__item-title">Track KPIs</h2>
                            <div class="reporting__item-content">
                                <img src="./img/yellow.svg" alt="" class="item__content-svg">
                                <h1 class="item__content-text">We track every single KPI to monitor performance</h1>
                            </div>
                            <div class="reporting__item-content">
                                <img src="./img/yellow.svg" alt="" class="item__content-svg">
                                <h1 class="item__content-text">Data driven decision yields higher returns</h1>
                            </div>
                            <div class="reporting__item-content">
                                <img src="./img/yellow.svg" alt="" class="item__content-svg">
                                <h1 class="item__content-text">Experts to track end to end user journey to define
                                    profitability
                                </h1>
                            </div>
                            <div class="reporting__item-content">
                                <img src="./img/yellow.svg" alt="" class="item__content-svg">
                                <h1 class="item__content-text">Customized reports covering a range of KPIs with graphic
                                    representation</h1>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- Smart-->
        <section class="section__smart">
            <div class="container">
                <div class="smart">
                    <div class="smart__items">
                        <div class="smart__item">
                            <h2 class="smart__item-title">The Right Strategies</h2>
                            <div class="smart__item-content">
                                <img src="./img/pink.svg" alt="" class="item__content-svg">
                                <h1 class="item__content-text">Stop doing it yourself and spending your capital without
                                    adequate returns</h1>
                            </div>
                            <div class="smart__item-content">
                                <img src="./img/pink.svg" alt="" class="item__content-svg">
                                <h1 class="item__content-text">Years of experience leveraged to drive higher installs
                                    for your App with the rightful bidding strategies in place</h1>
                            </div>
                            <div class="smart__item-content">
                                <img src="./img/pink.svg" alt="" class="item__content-svg">
                                <h1 class="item__content-text">Set up of discovery, non-discovery campaigns, broad and
                                    exact target keywords, multiple campaigns and the recommended account structure for
                                    every country to drive installs
                                </h1>
                            </div>

                        </div>
                        <div class="smart__item">
                            <img src="./img/smart.png" alt="" class="smart__item-foto">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Automation -->
        <section class="section__automation">
            <div class="container">
                <div class="automation">
                    <div class="automation__items">
                        <div class="automation__item">
                            <img src="./img/automation.png" alt="" class="automation__item-foto">
                        </div>
                        <div class="automation__item">
                            <h2 class="automation__item-title">Dedicated Expert Work</h2>
                            <div class="automation__item-content">
                                <img src="./img/blue.svg" alt="" class="item__content-svg">
                                <h1 class="item__content-text">Our large team works with top publishers everyday and has
                                    unearthed the complexities of user acquisition campaigns</h1>
                            </div>
                            <div class="automation__item-content">
                                <img src="./img/blue.svg" alt="" class="item__content-svg">
                                <h1 class="item__content-text">In-house Ad experts with leading edge knowledge and over
                                    a decade of experience</h1>
                            </div>
                            <div class="automation__item-content">
                                <img src="./img/blue.svg" alt="" class="item__content-svg">
                                <h1 class="item__content-text">Click-grove partners with all leading tracking providers
                                    like AppsFlyer, Singular, Adjust and more. You're transparent in every way in this
                                    case.
                                </h1>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- Support-->
        <section class="section__support">
            <div class="container">
                <div class="support">
                    <div class="support__items">
                        <div class="support__item">
                            <h2 class="support__item-title">Get Support</h2>
                            <h3 class="support__item-subtitle">The customer is at the heart of everything we do. We
                                pride ourselves on customer satisfaction and are available for 24/7 support</h3>
                            <div class="support__item-content">
                                <img src="./img/orange.svg" alt="" class="item__content-svg">
                                <h1 class="item__content-text">Leading long-term partnerships with top international
                                    brands established via Click-grove</h1>

                            </div>
                            <div class="support__item-content">
                                <img src="./img/orange.svg" alt="" class="item__content-svg">
                                <h1 class="item__content-text">Our services cover onboarding, account history review,
                                    setup, manage, optimize and strategize future actions</h1>
                            </div>
                            <div class="support__item-content">
                                <img src="./img/orange.svg" alt="" class="item__content-svg">
                                <h1 class="item__content-text">Get first hand access to industry insights, best
                                    practices, and
                                    benchmarks
                                </h1>
                            </div>
                            <div class="support__item-content">
                                <img src="./img/orange.svg" alt="" class="item__content-svg">
                                <h1 class="item__content-text">Use our subsidiary companies like ASOWin to get more
                                    insights on the overall industry direction vis a vis positioning of your App. Deep
                                    dive into the future
                                </h1>
                            </div>
                        </div>
                        <div class="support__item">
                            <img src="./img/support.png" alt="" class="support__item-foto">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Strong-->
        <section class="section__strong">
            <div class="container">
                <div class="strong__items">
                    <div class="strong__item green">
                        <h2 class="strong__item-subtitle">Why Choose Us</h2>
                        <h1 class="strong__item-title">End to end user acquisition. Unique partnerships across the
                            world.</h1>

                        <div class="strong_item-content">
                            <img src="./img/Group 5.svg" alt="" class="item__content-svg">
                            <div class="div">
                                <h1 class="item__content-text" style="color:black; font-weight:bold;">Trusted</h1>
                                <h1 class="item__content-subtext">Trusted by leading App publishers. Leading
                                    partnerships with publishers and ad networks to drive heavy growth.</h1>
                            </div>
                        </div>

                        <div class="strong_item-content">
                            <img src="./img/Group 6.svg" alt="" class="item__content-svg">
                            <div class="div">
                                <h1 class="item__content-text" style="color:black; font-weight:bold;">Heavy Growth</h1>
                                <h1 class="item__content-subtext">Customers witness massive growth in users and reduced
                                    costs</h1>
                            </div>
                        </div>
                        <div class="strong_item-content">
                            <img src="./img/Group 7.svg" alt="" class="item__content-svg">
                            <div class="div">
                                <h1 class="item__content-text" style="color:black; font-weight:bold;">Automated & Manual
                                </h1>
                                <h1 class="item__content-subtext">Automated tasks yet manual support to make the most
                                    out of your campaigns</h1>
                            </div>
                        </div>
                        <div class="strong_item-content">
                            <img src="./img/Group 8.svg" alt="" class="item__content-svg">
                            <div class="div">
                                <h1 class="item__content-texts" style="color:black;">Rules & Flow</h1>
                                <h1 class="item__content-subtext">Rules to run user acquisition campaigns that are as
                                    per industry standards for right results</h1>
                            </div>
                        </div>
                    </div>
                    <div class="strong__item">
                        <img src="./img/strong.png" alt="" class="strong__item-foto">
                    </div>
                </div>
            </div>
        </section>
        <br />
        <!-- Price-->
        <section class="section__price" id="pricing">
            <div class="container">
                <div class="price">
                    <h5 class="price__subtitle" style="font-size:46px; color: black;">Pricing</h5><br />
                    <h4 class="price__title">Different models</h4>

                    <br />
                    <center>
                        <div class="price__item">
                            <h1 class="price__item-title">Start now</h1>
                            <h3 class="price__item-price"><span>Lowest prices at scale</span></h3>
                            <div class="price__item-pink">
                                <div class="price__item-text-none"> Any country
                                </div>
                            </div>
                            <h2 class="price__item-subtitle">
                                At Click-grove, we understand the importance of reaching a large audience to achieve your
                                user acquisition goals. Our unique partnerships with publishers and partner networks
                                allow us to run Cost Per Install, Cost Per Engagement, Cost Per Action, and Cost Per
                                Impressions campaigns at scale. We leverage our network of trusted partners to reach a
                                wider audience while maintaining high-quality standards. </h2>
                            <a href="#" class="price__item-btn">Get started</a>
                        </div>
                    </center>
                </div>
            </div>
        </section>

        <!-- Testimonials-->
        <section class="section__testimonial">
            <div class="container">
                <div class="testimonial">
                    <h3 class="testimonial__subtitle">Testimonials</h3>
                    <h2 class="testimonial__title">What our users are saying about Click-grove</h2>

                    <!-- Slider main container -->
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="testimonials__item">
                                    <img class="testimonials__item-img" src="./img/qwote.svg" alt="">
                                    <h1 class="testimonials__item-title">Choose Click-grove for user acquisition that
                                        delivers results. Their data-driven approach, advanced targeting capabilities,
                                        and customized campaigns ensure that you reach the right users, increase
                                        engagement, and achieve your app growth goals.</h1>
                                    <img class="testimonials__item-icon" src="./img/Frame 21.png" alt="">
                                </div>
                            </div>


                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </section>



    </main>

    <!--Footer -->
    <footer>
        <div class="container">
            <div class="footer">
                <div class="footer__item" style="color: white;">support@click-grove.com</div>
                <div class="footer__item">
                    <h1 class="footer__item-text">Copyright  &copy; <script>document.write(new Date().getFullYear())</script> Click-grove</br>
                        All rights reserved</h1>
                </div>

            </div>
        </div>
    </footer>

</body>

<script src="./js/scripts.min.js"></script>

</html>