<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Funnelcrafthk">
  <title>Funnelcrafthk</title>
  <link rel="shortcut icon" href="./img/200-50.png">
  <link rel="stylesheet" href="./assets/css/plugins.css">
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="stylesheet" href="./assets/css/colors/grape.css">

</head>

<body class="bg-soft-primary">
  <div class="content-wrapper">
    <header class="position-absolute w-100">
      <nav class="navbar navbar-expand-lg center-nav transparent navbar-light top-bar">
        <div class="container flex-lg-row flex-nowrap align-items-center">
          <div class="navbar-brand w-100">
            <a href="/">
              <img style="height: 50px;" src="./img/200-50.png" alt="Funnelcrafthk" />
            </a>
          </div>
          <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
            <div class="offcanvas-header d-lg-none">
              <h3 class="text-white fs-30 mb-0">Funnelcrafthk</h3>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
              <!-- /.navbar-nav -->
              <div class="offcanvas-footer d-lg-none">
                <div>
                  <a class="link-inverse"><span class="__cf_email__" data-cfemail="b0d9ded6dff0d5ddd1d9dc9ed3dfdd">[email&#160;protected]</span></a>
                  <br /> 00 (123) 456 78 90 <br />
                  <nav class="nav social social-white mt-4">
                    <a><i class="uil uil-twitter"></i></a>
                    <a><i class="uil uil-facebook-f"></i></a>
                    <a><i class="uil uil-instagram"></i></a>
                     <a><i class="uil uil-linkedin"></i></a>
                  </nav>
                  <!-- /.social -->
                </div>
              </div>
              <!-- /.offcanvas-footer -->
            </div>
            <!-- /.offcanvas-body -->
          </div>
          <!-- /.navbar-collapse -->
          <div class="navbar-other w-100 d-flex ms-auto">
    
            <!-- /.navbar-nav -->
          </div>
          <!-- /.navbar-other -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
    </header>
    <!-- /header -->        <section class="wrapper image-wrapper bg-full bg-image" data-image-src="./assets/img/BlendAI-technology.jpg">
      <div class="container pt-18 pt-md-18 pb-0">
        <div class="row gx-0 gy-10 align-items-center text-center text-lg-start reverse">
          <div class="col-lg-6 col-xxl-5 position-relative bg-radius box-reverse" data-cues="slideInDown" data-group="page-title" data-delay="700">
            <h1 class="display-1 fs-40 mb-4">Give your business an <span class="text-gradient gradient-7">AI-blended edge</span> with our marketing solutions!</h1>
            <div class="d-md-flex justify-content-start" data-cues="slideInDown" data-delay="600">
              <span><a class="btn btn-md btn-primary btn-icon btn-icon-end rounded-xl mx-md-1">Learn More <i class="uil uil-arrow-down-right"></i></a></span>
              <span><a class="btn btn-md btn-fuchsia btn-icon btn-icon-end rounded-xl mx-md-1" target="_blank">Connect to us <i class="uil uil-arrow-up-right"></i></a></span>
            </div>
          </div>
          <!-- /column -->
          <div class="col-lg-6 ms-auto">
            <figure style="position: relative;animation: bns1 3s linear infinite;"><img src="./assets/img/illustrations/AI-blend.png" alt="AI-blend"></figure>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
      <!-- /.overflow-hidden -->
    </section>
    <!-- /section -->
    <section class="wrapper overflow-hidden pt-8 py-md-8">
      <div class="swiper-container swiper-auto swiper-auto-xs mb-8" data-margin="40" data-nav="false" data-dots="false" data-centered="true" data-loop="true" data-items-auto="true" data-autoplay="true" data-autoplaytime="1" data-drag="false" data-resizeupdate="false" data-speed="7000">
        <div class="swiper overflow-visible pe-none">
          <div class="swiper-wrapper ticker">
            <div class="swiper-slide">
              <figure class="rounded-xl slide-brand"><img src="./assets/img/brands/Client-BlendAI-2.png" srcset="./assets/img/brands/Client-BlendAI-2.png 2x" alt="" /></figure>
            </div>
            <div class="swiper-slide">
              <figure class="rounded-xl slide-brand"><img src="./assets/img/brands/Client-BlendAI.png" srcset="./assets/img/brands/Client-BlendAI.png 2x" alt="" /></figure>
            </div>
            <div class="swiper-slide">
              <figure class="rounded-xl slide-brand"><img src="./assets/img/brands/Client-BlendAI-3.png" srcset="./assets/img/brands/Client-BlendAI-3.png 2x" alt="" /></figure>
            </div>
            <div class="swiper-slide">
              <figure class="rounded-xl slide-brand"><img src="./assets/img/brands/Client-BlendAI-4.png" srcset="./assets/img/brands/Client-BlendAI-4.png 2x" alt="" /></figure>
            </div>
            <div class="swiper-slide">
              <figure class="rounded-xl slide-brand"><img src="./assets/img/brands/Client-BlendAI-5.png" srcset="./assets/img/brands/Client-BlendAI-5.png 2x" alt="" /></figure>
            </div>
            <div class="swiper-slide">
              <figure class="rounded-xl slide-brand"><img src="./assets/img/brands/Client-BlendAI-6.png" srcset="./assets/img/brands/Client-BlendAI-6.png 2x" alt="" /></figure>
            </div>
            <div class="swiper-slide">
              <figure class="rounded-xl slide-brand"><img src="./assets/img/brands/Client-BlendAI-7.png" srcset="./assets/img/brands/Client-BlendAI-7.png 2x" alt="" /></figure>
            </div>
            <div class="swiper-slide">
              <figure class="rounded-xl slide-brand"><img src="./assets/img/brands/Client-BlendAI-8.png" srcset="./assets/img/brands/Client-BlendAI-8.png 2x" alt="" /></figure>
            </div>
            <div class="swiper-slide">
              <figure class="rounded-xl slide-brand"><img src="./assets/img/brands/Client-BlendAI-9.jpg" srcset="./assets/img/brands/Client-BlendAI-9.jpg 2x" alt="" /></figure>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-container swiper-auto swiper-auto-xs mb-8 mb-md-12" data-margin="40" data-nav="false" data-dots="false" data-centered="true" data-loop="true" data-items-auto="true" data-autoplay="true" data-autoplaytime="1" data-drag="false" data-resizeupdate="false" data-speed="7000">
        <div class="swiper overflow-visible pe-none" dir="rtl">
          <div class="swiper-wrapper ticker">
            <div class="swiper-slide">
              <figure class="rounded-xl slide-brand"><img src="./assets/img/brands/Client-BlendAI-2.png" srcset="./assets/img/brands/Client-BlendAI-2.png 2x" alt="" /></figure>
            </div>
            <div class="swiper-slide">
              <figure class="rounded-xl slide-brand"><img src="./assets/img/brands/Client-BlendAI.png" srcset="./assets/img/brands/Client-BlendAI.png 2x" alt="" /></figure>
            </div>
            <div class="swiper-slide">
              <figure class="rounded-xl slide-brand"><img src="./assets/img/brands/Client-BlendAI-3.png" srcset="./assets/img/brands/Client-BlendAI-3.png 2x" alt="" /></figure>
            </div>
            <div class="swiper-slide">
              <figure class="rounded-xl slide-brand"><img src="./assets/img/brands/Client-BlendAI-4.png" srcset="./assets/img/brands/Client-BlendAI-4.png 2x" alt="" /></figure>
            </div>
            <div class="swiper-slide">
              <figure class="rounded-xl slide-brand"><img src="./assets/img/brands/Client-BlendAI-5.png" srcset="./assets/img/brands/Client-BlendAI-5.png 2x" alt="" /></figure>
            </div>
            <div class="swiper-slide">
              <figure class="rounded-xl slide-brand"><img src="./assets/img/brands/Client-BlendAI-6.png" srcset="./assets/img/brands/Client-BlendAI-6.png 2x" alt="" /></figure>
            </div>
            <div class="swiper-slide">
              <figure class="rounded-xl slide-brand"><img src="./assets/img/brands/Client-BlendAI-7.png" srcset="./assets/img/brands/Client-BlendAI-7.png 2x" alt="" /></figure>
            </div>
            <div class="swiper-slide">
              <figure class="rounded-xl slide-brand"><img src="./assets/img/brands/Client-BlendAI-8.png" srcset="./assets/img/brands/Client-BlendAI-8.png 2x" alt="" /></figure>
            </div>
            <div class="swiper-slide">
              <figure class="rounded-xl slide-brand"><img src="./assets/img/brands/Client-BlendAI-9.jpg" srcset="./assets/img/brands/Client-BlendAI-9.jpg 2x" alt="" /></figure>
            </div>
          </div>
        </div>
      </div>
    </section>

 
    
        <section class="wrapper bg-light">
      <div class="container py-12 py-md-12">
        <div class="row text-center">
          <div class="col-md-11 col-lg-9 col-xl-8 col-xxl-7 mx-auto position-relative">
            <img src="./assets/img/svg/doodle9.svg" class="h-17 position-absolute d-none d-lg-block" style="bottom: 5%; left: -17%" alt="">
            <h2 class="fs-16 text-uppercase text-muted mb-3 text-center">Why Choose Funnelcrafthk?</h2>
            <h3 class="display-3 text-center"><span class="text-gradient gradient-7">Funnelcrafthk</span> - Your Path from AI to Achievement</h3>
            <p class="mb-12">Our 360-degree action plan of optimizing programmatic advertising for our customers help them in the following ways</p>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="row d-flex align-items-start mb-12">
          <div class="col-lg-6 position-lg-sticky" style="top: 8rem;">
            <figure><img src="./assets/img/illustrations/BlendAI-services-png.png" srcset="./assets/img/illustrations/BlendAI-services-png.png 2x" alt=""></figure>
          </div>
          <!-- /column -->
          <div class="col-lg-5 ms-auto">
            <div class="d-flex flex-row mb-8">
              <div>
                <div class="svg-bg svg-bg-lg bg-pale-grape rounded-xl me-5"><img src="./assets/img/icons/solid/bar-chart.svg" class="svg-inject icon-svg solid text-navy" alt="" /></div>
              </div>
              <div>
                <h4 class="fs-19">Fast & Perfect Decision Making</h4>
                <p>Programmatic advertising transactions occur in seconds and we help you make the best decision in those few second. Collaborate with our consultative experts to understand the features and functionalities of different platforms and make the right decisions. We analyze a broad spectrum of data to determine the best time and place for advertisement delivery. 
                  <a>Learn more</a></p>
              </div>
            </div>
            <div class="d-flex flex-row mb-8">
              <div>
                <div class="svg-bg svg-bg-lg bg-pale-green rounded-xl me-5"><img src="./assets/img/icons/solid/devices.svg" class="svg-inject icon-svg solid text-navy" alt="" /></div>
              </div>
              <div>
                <h4 class="fs-19">100% Efficient & Transparent Transactions</h4>
                <p>Be an informative buyer and smart seller with us. We use machine learning and complex algorithms to help you create an efficient and transparent transactional framework. <a >Learn more</a></p>
              </div>
            </div>
            <div class="d-flex flex-row mb-8">
              <div>
                <div class="svg-bg svg-bg-lg bg-pale-pink rounded-xl me-5"><img src="./assets/img/icons/solid/videocall.svg" class="svg-inject icon-svg solid text-navy" alt="" /></div>
              </div>
              <div>
                <h4 class="fs-19">Identify & Engage the Right Customers</h4>
                <p>Learn with us what works best for your customer base and tailor made your advertising campaigns. Fealiner’s smart consultation and solutions offer you unparalleled advantage in targeting the right customer base.<a >Learn more</a></p>
              </div>
            </div>
            <div class="d-flex flex-row mb-8">
              <div>
                <div class="svg-bg svg-bg-lg bg-pale-yellow rounded-xl me-5"><img src="./assets/img/icons/solid/email-2.svg" class="svg-inject icon-svg solid text-navy" alt="" /></div>
              </div>
              <div>
                <h4 class="fs-19">Accelerate Conversations & Collaborations</h4>
                <p>We use data and analytics to identify the best solutions which you can use for real-time digital bidding and spend least time on negotiations <a >Learn more</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </section>

    
  <footer class="bg-light">
    <div class="container-card">
      <div class="card image-wrapper bg-full bg-overlay bg-overlay-light-500 mb-14">
        <div class="card-body py-14 px-0">
          <div class="container">
            <div class="row text-center">
              <div class="col-xl-11 col-xxl-9 mx-auto">
                <h2 style="color:#fff;" class="fs-16 text-uppercase mb-3">Take a Big Leap</h2>
                <h3 class="display-4 mb-7 px-lg-17">Get Started today! Market smarter with our Services!.</h3>
              </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
            <div class="d-flex justify-content-center">
              <span><a style="border: 2px solid #fff;" class="btn btn-lg btn-gradient gradient-1 rounded">Get Started</a></span>
            </div>
          </div>
          <!--/.container -->
        </div>
        <!--/.card-body -->
      </div>
      <!--/.card -->
    </div>
    <!-- /.container-card -->
    <div class="container pb-13 pb-md-15">
        <div class=" row gy-6 gy-lg-0">
      <div class="col-md-4 col-lg-3">
        <div class="widget">
          <img class="mb-4 logo-brand" src="./img/200-50.png" alt="Funnelcrafthk" />
          <p class="mb-4">© <script>document.write(new Date().getFullYear())</script> Funnelcrafthk. <br class="d-none d-lg-block" />All rights reserved.</p>
          <nav class="nav social ">
            <a><i class="uil uil-twitter"></i></a>
                    <a><i class="uil uil-facebook-f"></i></a>
                    <a><i class="uil uil-instagram"></i></a>
                     <a><i class="uil uil-linkedin"></i></a>
          </nav>
          <!-- /.social -->
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="col-md-4 col-lg-3">
        <div class="widget">
          <h4 class="widget-title  mb-3">Get in Touch</h4>
          <address class="pe-xl-15 pe-xxl-17">INDIA - SINGAPORE - INDONESIA</address>
          <a href="mailto:support@funnelcrafthk.com" class="link-body"><span class="__cf_email__" data-cfemail="b7ded9d1d8f7d2dad6dedb99d4d8da">support@funnelcrafthk.com</span></a>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="col-md-4 col-lg-3">
        <div class="widget">
          <h4 class="widget-title  mb-3">Learn More</h4>
          <ul class="list-unstyled text-reset mb-0">
            <li><a>About Us</a></li>
            <li><a>Contact us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="col-md-12 col-lg-3">
        <div class="widget">
          <h4 class="widget-title  mb-3">Our Newsletter</h4>
          <p class="mb-5">Subscribe to our newsletter to get our news & deals delivered to you.</p>
          <div class="newsletter-wrapper">
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup2">
              <form action="https://elemisfreebies.us20.list-manage.com/subscribe/post?u=aa4947f70a475ce162057838d&amp;id=b49ef47a9a" method="post" id="mc-embedded-subscribe-form2" name="mc-embedded-subscribe-form" class="validate " target="_blank" novalidate>
                <div id="mc_embed_signup_scroll2">
                
                  <div id="mce-responses2" class="clear">
                    <div class="response" id="mce-error-response2" style="display:none"></div>
                    <div class="response" id="mce-success-response2" style="display:none"></div>
                  </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ddc180777a163e0f9f66ee014_4b1bcfa0bc" tabindex="-1" value=""></div>
                  <div class="clear"></div>
                </div>
              </form>
            </div>
            <!--End mc_embed_signup-->
          </div>
          <!-- /.newsletter-wrapper -->
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
    </div>
    <!--/.row -->
    <div class="row">
        <div class="col-md-12">
        <p style="font-size:12px;">Designed by <a>Scriptfeeds</a></p>
        </div>
    </div>
    </div>
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/theme.js"></script>
</body>
  </div>
  <!-- /.content-wrapper -->
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="./assets/js/plugins.js"></script>
  <script src="./assets/js/theme.js"></script>
</body>
</html>