<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Promosprings</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- Favicons
    ================================================== -->
		<link rel="shortcut icon" href="img/1000.png" type="image/x-icon">
		<link rel="apple-touch-icon" href="img/1000.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/1000.png">
		<link rel="apple-touch-icon" sizes="114x114" href="img/1000.png">

		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

		<!-- Slider
    ================================================== -->
		<link href="css/owl.carousel.css" rel="stylesheet" media="screen">
		<link href="css/owl.theme.css" rel="stylesheet" media="screen">
		
		<!-- Stylesheet
    ================================================== -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/responsive.css">
		<link rel="stylesheet" type="text/css" href="css/prettyPhoto.css">
		<!--<link href='http://fonts.useso.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>-->
		<!--<link href='http://fonts.useso.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>-->
		<script type="text/javascript" src="js/modernizr.custom.js"></script>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>
	<body>
		<!-- Navigation
    ==========================================-->
		<nav id="menu" class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
						<span class="icon-bar"></span> </button>
					<a class="navbar-brand" href="javascript:;">
						<img src="./img/200-50.png" alt="" height="50px">
						<strong><span class="color" style="visibility: hidden;">.</span></strong></a> </div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<!-- <li><a href="#home" class="page-scroll">Home</a></li> -->
						<li><a href="#services-advertiser" class="page-scroll">Advertiser</a></li>
						<li><a href="#services-publisher" class="page-scroll">Publisher</a></li>
						<!-- <li><a href="#services-section" class="page-scroll">Services</a></li> -->
						<!-- <li><a href="#works-section" class="page-scroll">Portfolio</a></li> -->
						<li><a href="#about-section" class="page-scroll">About</a></li>
						<!-- <li><a href="#team-section" class="page-scroll">Team</a></li> -->
						<li><a href="#testimonials-section" class="page-scroll">Partners</a></li>
						<li><a href="#contact-section" class="page-scroll">Contact</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<!-- Header -->
		<header class="text-center" name="home">
			<div class="intro-text">
				<h1>Welcome to <strong><span class="color">Promosprings</span></strong></h1>
				<br>
				<p><strong>Driven by Big Data and Business Intelligence <br> Take the right place with Promosprings.Ltd. performance
						Marketing
						Agency<strong /></p>
				<a href="#services-advertiser" class="fa fa-angle-down page-scroll"> </a>
			</div>
		</header>

        <!-- Services Section -->
		<div id="services-advertiser" class="text-center" style="padding: 80px 0;background-color: #eee;">
			<div class="container">
                <!-- <h2 style="margin-bottom: 80px;">Advertiser</h2> -->
				<div class="row list-item">
					<div class="col-md-6 col-sm-6">
						<h2>Advertiser</h2>
						<p>You can rest assured that your offers will be delivered to the right people. Our platform is equipped with advanced anti-fraud detection tools that enable us to conduct real-time and accurate monitoring and reporting. In addition, we have our own traffic and trusted partners that can help you promote your campaigns worldwide.</p>
					</div>
					<div class="col-md-6 col-sm-6"> 					
						<img src="./images/1.png" alt="">
					</div>
				</div>
			</div>
		</div>

        <!-- Services Section -->
		<div id="services-publisher" class="text-center" style="padding: 80px 0;background-color: #fff;">
			<div class="container">
                <!-- <h2 style="margin-bottom: 80px;">Publisher</h2> -->
				<div class="row list-item">
					<div class="col-md-6 col-sm-6"> 					
						<img src="./images/33.png" alt="">
					</div>
					<div class="col-md-6 col-sm-6" style="padding-top: 70px;">
						<h2>Publisher</h2>
						<p>Entrust the whole process to us once the cooperation is established, you will receive all the hottest quotations and the freshest ideas. In addition, we will provide unique solutions for finding and accepting profitable users. We prefer to pay on time, but we also provide you with flexible payment terms.</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Services Section -->
		<div id="services-section" class="text-center">
			<div class="container">
				<div class="section-title center">
					<h2><strong>Promosprings Features</strong></h2>
					<hr>
					<div class="clearfix"></div>
					<!-- <p>The provider of the one-stop solution to overseas performance.</p> -->
				</div>
				<div class="space"></div>
				<div class="row">
					<div class="col-md-3 col-sm-6 service" style="margin-bottom: 20px;">
						<i class="fa fa-globe"></i>
						<h4><strong>Wider Coverage</strong></h4>
						<!-- <p></p> -->
					</div>
					<div class="col-md-3 col-sm-6 service" style="margin-bottom: 20px;"> <i class="fa fa-bar-chart"></i>
						<h4><strong>Premium Traffic</strong></h4>
						<!-- <p></p> -->
					</div>
					<div class="col-md-3 col-sm-6 service" style="margin-bottom: 20px;"> <i class="fa fa-crosshairs"></i>
						<h4><strong>Real-time reporting and monitoring</strong></h4>
						<!-- <p></p> -->
					</div>
					<div class="col-md-3 col-sm-6 service" style="margin-bottom: 20px;"> <i class="fa fa-shield"></i>
						<h4><strong>Easy integration</strong></h4>
						<!-- <p></p> -->
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6 service" style="margin-bottom: 20px;"> <i class="fa fa-buysellads"></i>
						<h4><strong>Abundant Offers</strong></h4>
						<!-- <p></p> -->
					</div>
					<div class="col-md-3 col-sm-6 service" style="margin-bottom: 20px;"> <i class="fa fa-database"></i>
						<h4><strong>24/7 Support</strong></h4>
						<!-- <p></p> -->
					</div>
					<div class="col-md-3 col-sm-6 service" style="margin-bottom: 20px;"> <i class="fa fa-pie-chart"></i>
						<h4><strong>Fast Payments</strong></h4>
						<!-- <p></p> -->
					</div>
					<div class="col-md-3 col-sm-6 service" style="margin-bottom: 20px;"> <i class="fa fa-line-chart"></i>
						<h4><strong>Professional Team</strong></h4>
						<!-- <p></p> -->
					</div>
				</div>
			</div>
		</div>
		<!-- Portfolio Section -->
		<div id="works-section" style="display: none;">
			<div class="container">
				<!-- Container -->
				<div class="section-title text-center center">
					<h2>Our <strong>Works</strong></h2>
					<hr>
					<div class="clearfix"></div>
					<p>Provids professional services for the applications of the domestic developer go abroad.</p>
				</div>
				<div class="categories">
					<ul class="cat">
						<li>
							<ol class="type">
								<li><a href="#" data-filter="*" class="active">All</a></li>
								<li><a href="#" data-filter=".web">Web Design</a></li>
								<li><a href="#" data-filter=".app">App Development</a></li>
								<li><a href="#" data-filter=".branding">Branding</a></li>
							</ol>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="copyrights">Collect from</div>
				<div class="row">
					<div class="portfolio-items">
						<div class="col-sm-6 col-md-3 col-lg-3 web">
							<div class="portfolio-item">
								<div class="hover-bg"> <a href="img/portfolio/01.jpg" rel="prettyPhoto">
										<div class="hover-text">
											<h4>Project Title</h4>
											<small>Web Design</small>
											<div class="clearfix"></div>
											<i class="fa fa-plus"></i>
										</div>
										<img src="img/portfolio/01.jpg" class="img-responsive" alt="Project Title">
									</a> </div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3 col-lg-3 app">
							<div class="portfolio-item">
								<div class="hover-bg"> <a href="img/portfolio/02.jpg" rel="prettyPhoto">
										<div class="hover-text">
											<h4>Project Title</h4>
											<small>App Development</small>
											<div class="clearfix"></div>
											<i class="fa fa-plus"></i>
										</div>
										<img src="img/portfolio/02.jpg" class="img-responsive" alt="Project Title">
									</a> </div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3 col-lg-3 web">
							<div class="portfolio-item">
								<div class="hover-bg"> <a href="img/portfolio/03.jpg" rel="prettyPhoto">
										<div class="hover-text">
											<h4>Project Title</h4>
											<small>Web Design</small>
											<div class="clearfix"></div>
											<i class="fa fa-plus"></i>
										</div>
										<img src="img/portfolio/03.jpg" class="img-responsive" alt="Project Title">
									</a> </div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3 col-lg-3 web">
							<div class="portfolio-item">
								<div class="hover-bg"> <a href="img/portfolio/04.jpg" rel="prettyPhoto">
										<div class="hover-text">
											<h4>Project Title</h4>
											<small>Web Design</small>
											<div class="clearfix"></div>
											<i class="fa fa-plus"></i>
										</div>
										<img src="img/portfolio/04.jpg" class="img-responsive" alt="Project Title">
									</a> </div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3 col-lg-3 app">
							<div class="portfolio-item">
								<div class="hover-bg"> <a href="img/portfolio/05.jpg" rel="prettyPhoto">
										<div class="hover-text">
											<h4>Project Title</h4>
											<small>App Development</small>
											<div class="clearfix"></div>
											<i class="fa fa-plus"></i>
										</div>
										<img src="img/portfolio/05.jpg" class="img-responsive" alt="Project Title">
									</a> </div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3 col-lg-3 branding">
							<div class="portfolio-item">
								<div class="hover-bg"> <a href="img/portfolio/06.jpg" rel="prettyPhoto">
										<div class="hover-text">
											<h4>Project Title</h4>
											<small>Branding</small>
											<div class="clearfix"></div>
											<i class="fa fa-plus"></i>
										</div>
										<img src="img/portfolio/06.jpg" class="img-responsive" alt="Project Title">
									</a> </div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3 col-lg-3 branding app">
							<div class="portfolio-item">
								<div class="hover-bg"> <a href="img/portfolio/07.jpg" rel="prettyPhoto">
										<div class="hover-text">
											<h4>Project Title</h4>
											<small>App Development, Branding</small>
											<div class="clearfix"></div>
											<i class="fa fa-plus"></i>
										</div>
										<img src="img/portfolio/07.jpg" class="img-responsive" alt="Project Title">
									</a> </div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3 col-lg-3 web">
							<div class="portfolio-item">
								<div class="hover-bg"> <a href="img/portfolio/08.jpg" rel="prettyPhoto">
										<div class="hover-text">
											<h4>Project Title</h4>
											<small>Web Design</small>
											<div class="clearfix"></div>
											<i class="fa fa-plus"></i>
										</div>
										<img src="img/portfolio/08.jpg" class="img-responsive" alt="Project Title">
									</a> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- About Section -->
		<div id="about-section">
			<div class="container">
				<div class="section-title text-center center">
					<h2><strong>About us</strong></h2>
					<hr>
					<div class="clearfix"></div>
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>-->
				</div>
				<div class="row">
					<div class="col-md-6"> <img src="img/about.png" class="img-responsive" width="90%"> </div>
					<div class="col-md-6" style="padding-top: 50px;">
						<div class="about-text">
							<!-- <i class="fa fa-users"></i> -->
							<!-- <h4>Who We Are</h4> -->
							<p>It has gathered professionals with rich experience to create such a global intelligent data-driven marketing platform. We have connected brands, advertisers and affiliates around the world. </p>
							<!-- <i class="fa fa-puzzle-piece"></i> -->
							<!-- <h4>What We Do</h4>
							<p>We offer a results-focused mobile promotions platform and provide our partners effective advertising solutions, technologies and services to ensure their prosperity.</p> -->
							<!-- <i class="fa fa-check-square-o"></i> -->
							<!-- <h4>Why Choose Us</h4>
							<p>We regard our partners'goals as our own and do our best to put them into life and constantly upgrade our
								technologies to make your experience with Ads Sharp Ltd positive and profits higher.</p> -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Team Section -->
		<div id="team-section" class="text-center" style="display: none;">
			<div class="container">
				<div class="section-title center">
					<h2>Meet the <strong>team</strong></h2>
					<hr>
					<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>-->
				</div>
				<div id="row">
					<div class="col-md-3 col-sm-6 team">
						<div class="thumbnail"> <img src="img/team/02.jpg" alt="..." class="img-circle team-img">
							<div class="caption">
								<h3>Sandy Xu</h3>
								<p>Founder</p>
								<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 team">
						<div class="thumbnail"> <img src="img/team/01.jpg" alt="..." class="img-circle team-img">
							<div class="caption">
								<h3>Lilian Bai</h3>
								<p>Web Designer</p>
								<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 team">
						<div class="thumbnail"> <img src="img/team/03.jpg" alt="..." class="img-circle team-img">
							<div class="caption">
								<h3>Silence Guo</h3>
								<p>Web Designer</p>
								<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 team">
						<div class="thumbnail"> <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
							<div class="caption">
								<h3>Phil Hou</h3>
								<p>Project Manager</p>
								<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<style type="text/css">
			.owl-controls {
				display: none !important;
			}
		</style>
		<!-- Testimonials Section -->
		<div id="testimonials-section" class="text-center">
			<div class="container">
				<div class="section-title center">
					<h2><strong>Global Partners</strong></h2>
					<hr>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div id="testimonial" class="owl-carousel owl-theme">
							<div class="item">
								<div class="row">
									<div class="col-md-3 col-xs-6 col-sm-6">
										<div style="background: #fff; margin-bottom: 30px;">
											<img src="./images/Google.png" alt="" width="98%">
										</div>
									</div>
									<div class="col-md-3 col-xs-6 col-sm-6">
										<div style="background: #fff; margin-bottom: 30px;">
											<img src="./images/Facebook.png" alt="" width="98%">
										</div>
									</div>
									<div class="col-md-3 col-xs-6 col-sm-6">
										<div style="background: #fff; margin-bottom: 30px;">
											<img src="./images/tencent.png" alt="" width="98%">
										</div>
									</div>
									<div class="col-md-3 col-xs-6 col-sm-6">
										<div style="background: #fff; margin-bottom: 30px;">
											<img src="./images/yeahmobi.svg" alt="" width="98%" height="100px">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-xs-6 col-sm-6">
										<div style="background: #fff; margin-bottom: 30px;">
											<img src="./images/Appsflyer.png" alt="" width="98%" height="100px">
										</div>
									</div>
									<div class="col-md-3 col-xs-6 col-sm-6">
										<div style="background: #fff; margin-bottom: 30px;">
											<img src="./images/baidu.png" alt="" width="98%">
										</div>
									</div>
									<div class="col-md-3 col-xs-6 col-sm-6">
										<div style="background: #fff; margin-bottom: 30px;">
											<img src="./images/Bytedance.png" alt="" width="98%">
										</div>
									</div>
									<div class="col-md-3 col-xs-6 col-sm-6">
										<div style="background: #fff; margin-bottom: 30px;">
											<img src="./images/Cheetah.png" alt="" width="98%">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Contact Section -->
		<div id="contact-section" class="text-center">
			<div class="container">
				<div class="section-title center">
					<h2><a href="mailto:contact@promosprings.com" style="color: #5a5a5a;"><strong>Contact us</strong></a></h2>
					<!-- <hr> -->
					<p>support@promosprings.com</p>
				</div>
			</div>
		</div>
		</div>
		<nav id="footer">
			<div class="container">
				<div class="pull-left fnav">
					<p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> Promosprings.Ltd.</p>
				</div>
				<div class="pull-right fnav">
					<ul class="footer-social">
						<li><a href="javasrcipt:;"><i class="fa fa-facebook"></i></a></li>
						<li><a href="javasrcipt:;"><i class="fa fa-twitter"></i></a></li>
						<li><a href="javasrcipt:;"><i class="fa fa-dribbble"></i></a></li>
						<li><a href="javasrcipt:;"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery.min.js"></script>

		<script type="text/javascript" src="js/jquery.1.11.1.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/SmoothScroll.js"></script>
		<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
		<script type="text/javascript" src="js/jquery.isotope.js"></script>
		<script src="js/owl.carousel.js"></script>

		<!-- Javascripts
    ================================================== -->
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
