<!DOCTYPE html><html><head>
    <!-- 启用极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!--  -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="KeyWords" content="关于我们">
    <meta name="description" content="">
    <title>Funnel-yard</title>
    <link rel="shortcut icon" type="image/x-icon" href="./img/1000.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="full-screen" content="yes">
    <!-- SEO友好提示 -->
   

    <script type="text/javascript" src="js/comm/jquery.min.js"></script>
    <script type="text/javascript" src="js/comm/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="js/comm/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="js/comm/ubox.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/comm/wow.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/comm/alert.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/064909.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="css/comm/font/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/comm/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/comm/box.css">
    <link rel="stylesheet" type="text/css" href="css/comm/alert.css">
    <link rel="stylesheet" type="text/css" href="css/064909.css">

<meta name="keywords" content="">

        </head>

<body>

    <script type="text/javascript" src="/js/comm/transform.js?201603091"></script>


    
        <div component="header.html">
            <link rel="stylesheet" type="text/css" href="/css/customer.css">
<div id="comm_layout_header" class="layout  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
    <div class="view_contents">
        <div id="text_style_02_1490063023274" class="view   " data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
            <div names="" class="view_contents">
            </div>
        </div>
        <div id="text_style_02_1490063046138" class="view   " data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
            <div names="" class="view_contents">
            </div>
        </div>
        <div id="dh_style_01_1490063713095" class="view   " data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
            <div names="" class="view_contents">
            </div>
        </div>
        <div id="div_includeBlock_1494815466481" class="view includeBlock div  none includeView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
            <div names="div" class="view_contents">
                <div id="image_logo_1494816138508" class="view logo image  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="image" class="view_contents">
                        <div class="logoStyle modSet">


                            <img class="imgSet" src="./img/200-50.png" style="height: 50px;margin-top: 20px;" title="" alt="" loading="lazy">


                            <div class="textSet logoName">
                                <center></center>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="dh_style_01_1494815574567" class="view style_01 dh  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="dh" class="view_contents">
                        <script></script>
                        <div id="menu" class="menu menuStyle_1">





                            
        <div component="menus.js">
            
    
    <div class="menuLayout">
        <ul class="miniMenu columnSet showmobile">
            <li class="leftBox">
                <div class="nav"></div>
                <div class="sidebar icoMenuSet" onclick="setDhListen('style_01',this)">=</div>
                <div class="menuScroll">
                    <ul class="menuUlCopy">

                        

                            <li class="rflex" pageid="64914" showmobile="">

                                <a class="mainMenuSet" href="index.html">HOME</a>

                            </li>
                            
                            


                            <li id="hot" class="rflex" pageid="64914" showmobile="">

                                <a class="mainMenuSet" href="guanyuwomen.html">ABOUT US</a>

                            </li>
                            
                            


                            <li class="rflex" pageid="64914" showmobile="">

                                <a class="mainMenuSet" href="fuwuxiangmu.html">ADVERTISER</a>

                            </li>
                            
                            


                            <li class="rflex" pageid="64914" showmobile="">

                                <a class="mainMenuSet" href="xinwenzhongxin.html">PUBLISHER</a>

                            </li>
                            
                            

<!-- 
                            <li class="rflex" pageid="64914" showmobile="">

                                <a class="mainMenuSet" href="lianxiwomen.html">CONTACT US</a>

                            </li> -->
                            
                            

                    </ul>
                </div>
            </li>
        </ul>
        <div class="menuUl_box columnSet showpc">
            <ul class="menuUl dflex">

                

                    <li class="rflex" pageid="64914" showpc="">

                        <a class="mainMenuSet" href="index.html">HOME</a>
                    
                    </li>
                    
                    


                    <li id="hot" class="rflex" pageid="64914" showpc="">

                        <a class="mainMenuSet" href="guanyuwomen.html">ABOUT US</a>
                    
                    </li>
                    
                    


                    <li class="rflex" pageid="64914" showpc="">

                        <a class="mainMenuSet" href="fuwuxiangmu.html">ADVERTISER</a>
                    
                    </li>
                    
                    


                    <li class="rflex" pageid="64914" showpc="">

                        <a class="mainMenuSet" href="xinwenzhongxin.html">PUBLISHER</a>
                    
                    </li>
                    
                    

<!-- 
                    <li class="rflex" pageid="64914" showpc="">

                        <a class="mainMenuSet" href="lianxiwomen.html">CONTACT US</a>
                    
                    </li> -->
                    
                    

            </ul>
        </div>
    </div>
    
    
        </div>
    





                        </div>
                        <!-- 蝜坕区域 End-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
    


    <div id="layout_diy_1494829511" class="layout  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
        <div class="view_contents">
            <div id="text_style_02_1494829656224" class="view style_02 text  none wow fadeInDown lockHeightView" data-wow-duration="1s" data-wow-delay="0.25s" data-wow-offset="0" data-wow-iteration="1">
                <div names="text" class="view_contents">
                    关于我们

                </div>
            </div>
            <div id="div_blank_1494829562847" class="view blank div  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                <div names="div" class="view_contents">
                    <!-- 
	<a href="javascript:;" style="display:block;width:100%;height:100%;" id="divnet"></a>
 -->



                </div>
            </div>
            <div id="div_includeBlock_1494829592252" class="view includeBlock div  none includeView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                <div names="div" class="view_contents">
                    <div id="image_style_01_1494829592419" class="view style_01 image  none wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.25s" data-wow-offset="0" data-wow-iteration="1">
                        <div names="image" class="view_contents">
                            <div class="imgStyle CompatibleImg">

                                <a href="javascript:;" target="">

                                    <img class="picSet link-type-" src="img/phone3.jpg" title="" alt="描述" id="imageModeShow" loading="lazy">

                                </a>

                            </div>






                            <!-- 新加的js  -->

                        </div>
                    </div>
                    <div id="text_style_01_1505365091120" class="view style_01 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                        <div names="text" class="view_contents">
                            <div style="width: 80%;line-height: 2;">Funnel-yard is a tech-driven mobile advertising platform that enables publishers to monetize their apps, and  provides advertisers with premium traffic to promote their product. With our smart advertising optimization strategy, Funnel-yard wins advertisers high-quality users and maximally improves publishers’ revenue.</div>
                            <!-- <div>Funnel-yard is a rising AI advertisement platform, aiming to driving global business growth and help enterprises solve the most challenging business Problems.</div> -->
                            <!-- <div>With advanced technology skills and long-term industry experience, Funnel-yard shares the best method for all the customer to utilize advanced technologies such as big data, artificial intelligence to connect with the global world, helping customers build forward-looking business models and guaranteeing effective advertisement access for the valuable users.</div>
                            <div>Funnel-yard was founded in Shanghai, China, in 2016, also seting up different office in Beijing Guagnzhou and HongKong. We are now having around 30 talented workers to be your personal adv designer. </div>
                            <div>Building up the new paths to understand, identify, engage and acquire consumers is our Goal.</div> -->

                        </div>
                    </div>
                </div>
            </div>
            <div id="text_style_08_1494830164774" class="view style_08 text  none wow fadeInDown lockHeightView" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0" data-wow-iteration="1">
                <div names="text" class="view_contents">
                    —————— &nbsp;About Us &nbsp; ——————

                </div>
            </div>
            <div id="text_style_02_1494836671915" class="view style_02 text  none lockHeightView" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0" data-wow-iteration="1">
                <div names="text" class="view_contents">
                    Tech-Driven Mobile Advertising Platform

                </div>
            </div>
        </div>
    </div>
    <div id="layout_1494829640167" class="layout " data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
        <div class="view_contents">
        </div>
    </div>


    
        <div component="footer.html">
            <script type="text/javascript" src="/js/customer.js"></script>
<div id="comm_layout_footer" class="layout  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
    <div class="view_contents">
        <div id="div_includeBlock_1490256629295" class="view includeBlock div  none includeView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
            <div names="div" class="view_contents">
                <div id="image_style_01_1490256629447" class="view style_01 image  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="image" class="view_contents">
                        <div class="imgStyle CompatibleImg">

                            <a href="javascript:;" target="">

                                <img class="picSet link-type-" src="./img/footer/z_04/7fb142ea899bd8ea15c21c7ecf9661f3.png" title="" alt="描述" id="imageModeShow" loading="lazy">

                            </a>

                        </div>

                        <!-- 新加的js  -->

                    </div>
                </div>
                <div id="image_style_01_1490256629455" class="view style_01 image  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="image" class="view_contents">
                        <div class="imgStyle CompatibleImg">

                            <a href="javascript:;" target="">

                                <img class="picSet link-type-" src="./img/footer/z_04/28a85caaa2119fec9657acfb6a9c5729.png" title="" alt="描述" id="imageModeShow" loading="lazy">

                            </a>

                        </div>

                        <!-- 新加的js  -->

                    </div>
                </div>
                <div id="image_style_01_1490256629459" class="view style_01 image  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="image" class="view_contents">
                        <div class="imgStyle CompatibleImg">

                            <a href="javascript:;" target="">

                                <img class="picSet link-type-" src="./img/footer/z_04/902ecb817eb330500d863b7b4c89d6df.png" title="" alt="描述" id="imageModeShow" loading="lazy">

                            </a>

                        </div>

                        <!-- 新加的js  -->

                    </div>
                </div>
                <div id="image_style_01_1490256629465" class="view style_01 image  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="image" class="view_contents">
                        <div class="imgStyle CompatibleImg">

                            <a href="javascript:;" target="">

                                <img class="picSet link-type-" src="./img/footer/z_04/50303a1615c273cb3bf982f23a25dfdb.png" title="" alt="描述" id="imageModeShow" loading="lazy">

                            </a>

                        </div>


                        <!-- 新加的js  -->

                    </div>
                </div>
                <div id="text_style_02_1490256629469" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="text" class="view_contents">
                        销售：400-622-8200

                    </div>
                </div>
                <div id="text_style_02_1490256629473" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="text" class="view_contents">
                        技术：400-622-8300

                    </div>
                </div>
                <div id="text_style_02_1490256629478" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="text" class="view_contents">
                        QQ：80092336

                    </div>
                </div>
                <div id="text_style_02_1490256629483" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="text" class="view_contents">
                        <a href="javascript:void(0);" target="" style="color:inherit" class="link-type--">在线留言</a>

                    </div>
                </div>
                <div id="text_style_02_1490256629488" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="text" class="view_contents">
                        <a href="/index.html?pageid=64914" target="" style="color:inherit" class="link-type--">首页</a>

                    </div>
                </div>
                <div id="text_style_02_1490256629493" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="text" class="view_contents">
                        <a href="/team.html?pageid=64915" target="" style="color:inherit" class="link-type--">团队</a>

                    </div>
                </div>
                <div id="text_style_02_1490256629497" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="text" class="view_contents">
                        <a href="/job.html?pageid=64910" target="" style="color:inherit" class="link-type--">服务案例 &nbsp; &nbsp;</a>

                    </div>
                </div>
                <div id="text_style_02_1490256629501" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="text" class="view_contents">
                        <a href="/news.html?pageid=64913" target="" style="color:inherit" class="link-type--">新闻中心</a>

                    </div>
                </div>
                <div id="text_style_02_1490256629505" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="text" class="view_contents">
                        <a href="/connect.html?pageid=64912" target="" style="color:inherit" class="link-type--">联系我们 &nbsp; &nbsp; &nbsp; &nbsp;</a>

                    </div>
                </div>
                <div id="text_style_02_1490256629509" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="text" class="view_contents">
                        Copyright © funnel-yard.com

                    </div>
                </div>
            </div>
        </div>
        <div id="div_includeBlock_1494985956505" class="view includeBlock div  none includeView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
            <div names="div" class="view_contents">
                <div style="font-size: 52px;font-weight: 700;color: white;text-align: center;margin-top: 20px;">Contact Us</div>
                <div id="div_includeBlock_1494985956700" class="view includeBlock div  none includeView" data-wow-duration="1.8s" data-wow-delay="0.25s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="div" class="view_contents">
                        <div id="text_style_02_1494985957014" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                            <div names="text" class="view_contents">
                                <p style="color: white;font-size: 14px;">support@funnel-yard.com</p>
                                <p style="color: white;font-size: 14px;">Copyright &copy; <script>document.write(new Date().getFullYear())</script> Funnel-yard.Ltd.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>

</body></html>