<!DOCTYPE html><html><head>
    <!-- 启用极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!--  -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="KeyWords" content="服务项目">
    <meta name="description" content="">
    <title>Funnel-yard </title>
    <link rel="shortcut icon" type="image/x-icon" href="./img/1000.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="full-screen" content="yes">
    <script type="text/javascript" src="js/comm/jquery.min.js"></script>
    <script type="text/javascript" src="js/comm/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="js/comm/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="js/comm/ubox.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/comm/wow.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/comm/alert.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/064910.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="css/comm/font/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/comm/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/comm/box.css">
    <link rel="stylesheet" type="text/css" href="css/comm/alert.css">
    <link rel="stylesheet" type="text/css" href="css/064910.css">


<meta name="keywords" content="">
    
        </head>

<body>
    <script type="text/javascript">
        var Default_isFT = 0;
    </script>
    <script type="text/javascript" src="/js/comm/transform.js?201603091"></script>
    
        <div component="header.html">
            <link rel="stylesheet" type="text/css" href="/css/customer.css">
<div id="comm_layout_header" class="layout  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
    <div class="view_contents">
        <div id="text_style_02_1490063023274" class="view   " data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
            <div names="" class="view_contents">
            </div>
        </div>
        <div id="text_style_02_1490063046138" class="view   " data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
            <div names="" class="view_contents">
            </div>
        </div>
        <div id="dh_style_01_1490063713095" class="view   " data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
            <div names="" class="view_contents">
            </div>
        </div>
        <div id="div_includeBlock_1494815466481" class="view includeBlock div  none includeView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
            <div names="div" class="view_contents">
                <div id="image_logo_1494816138508" class="view logo image  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="image" class="view_contents">
                        <div class="logoStyle modSet">


                            <img class="imgSet" src="./img/200-50.png" style="height: 50px;margin-top: 20px;" title="" alt="" loading="lazy">


                            <div class="textSet logoName">
                                <center></center>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="dh_style_01_1494815574567" class="view style_01 dh  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="dh" class="view_contents">
                        <script></script>
                        <div id="menu" class="menu menuStyle_1">





                            
        <div component="menus.js">
            
    
    <div class="menuLayout">
        <ul class="miniMenu columnSet showmobile">
            <li class="leftBox">
                <div class="nav"></div>
                <div class="sidebar icoMenuSet" onclick="setDhListen('style_01',this)">=</div>
                <div class="menuScroll">
                    <ul class="menuUlCopy">

                        

                            <li class="rflex" pageid="64914" showmobile="">

                                <a class="mainMenuSet" href="index.html">HOME</a>

                            </li>
                            
                            


                            <li class="rflex" pageid="64914" showmobile="">

                                <a class="mainMenuSet" href="guanyuwomen.html">ABOUT US</a>

                            </li>
                            
                            


                            <li  class="rflex" pageid="64914" showmobile="">

                                <a class="mainMenuSet" href="fuwuxiangmu.html">ADVERTISER</a>

                            </li>
                            
                            


                            <li id="hot" class="rflex" pageid="64914" showmobile="">

                                <a class="mainMenuSet" href="xinwenzhongxin.html">PUBLISHER</a>

                            </li>
                            
                            


                            <!-- <li class="rflex" pageid="64914" showmobile="">

                                <a class="mainMenuSet" href="lianxiwomen.html">CONTACT US</a>

                            </li>
                             -->
                            

                    </ul>
                </div>
            </li>
        </ul>
        <div class="menuUl_box columnSet showpc">
            <ul class="menuUl dflex">

                

                    <li class="rflex" pageid="64914" showpc="">

                        <a class="mainMenuSet" href="index.html">HOME</a>
                    
                    </li>
                    
                    


                    <li class="rflex" pageid="64914" showpc="">

                        <a class="mainMenuSet" href="guanyuwomen.html">ABOUT US</a>
                    
                    </li>
                    
                    


                    <li class="rflex" pageid="64914" showpc="">

                        <a class="mainMenuSet" href="fuwuxiangmu.html">ADVERTISER</a>
                    
                    </li>
                    
                    


                    <li id="hot" class="rflex" pageid="64914" showpc="">

                        <a class="mainMenuSet" href="xinwenzhongxin.html">PUBLISHER</a>
                    
                    </li>
                    
                    


                    <!-- <li class="rflex" pageid="64914" showpc="">

                        <a class="mainMenuSet" href="lianxiwomen.html">CONTACT US</a>
                    
                    </li> -->
                    
                    

            </ul>
        </div>
    </div>
    
    
        </div>
    





                        </div>
                        <!-- 蝜坕区域 End-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
    
    <div id="layout_1494832062203" class="layout  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
        <div class="view_contents">
            <div id="text_style_02_1494832127161" class="view style_02 text  none wow fadeInDown lockHeightView" data-wow-duration="1s" data-wow-delay="0.25s" data-wow-offset="0" data-wow-iteration="1">
                <div names="text" class="view_contents">
                    Maximally Monetize Publishers’ Revenue 

                </div>
            </div>
            <div id="div_blank_1494832089679" class="view blank div  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                <div names="div" class="view_contents">


                </div>
            </div>
            <div id="text_style_08_1494832109860" class="view style_08 text  none wow fadeInDown lockHeightView" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0" data-wow-iteration="1">
                <div names="text" class="view_contents" style="margin-top: 10px;">
                    —————— &nbsp;Publisher &nbsp;——————

                </div>
            </div>
        </div>
    </div>
    <div id="layout_1494832064430" class="layout  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
        <div class="view_contents">
            <div id="tab_style_03_1505365703357" class="view style_03 tab  none includeView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                <div names="tab" class="view_contents">
                    <script></script>
                    <div id="div_tab_style_03_1505365703357" class="niceTab tabStyle_3">
                        <div class="tab_nav tab_nav_top">
                            <div class="tab_scroll tab_scroll_top">
                                <ul class="tab_ul tab_ul_top">
                                    <li class="tab_li tabItemSet tab_li_top tabCurItem">
                                        <div class="tab_pos_r">
                                            <div class="tab_img tabImgSet"><img src="/img/comm/tabImg.png" ondragstart="return false;" loading="lazy"></div>
                                            <div class="tab_txt" onselectstart="return false">
                                                <p>All- Round Solution</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="tab_li tabItemSet tab_li_top">
                                        <div class="tab_pos_r">
                                            <div class="tab_img tabImgSet"><img src="/img/comm/tabImg.png" ondragstart="return false;" loading="lazy"></div>
                                            <div class="tab_txt" onselectstart="return false">
                                                <p>Full Vertical Demond</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="tab_li tabItemSet tab_li_top">
                                        <div class="tab_pos_r">
                                            <div class="tab_img tabImgSet"><img src="/img/comm/tabImg.png" ondragstart="return false;" loading="lazy"></div>
                                            <div class="tab_txt" onselectstart="return false">
                                                <p>Both Performance And Brand Demand</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="tab_li tabItemSet tab_li_top">
                                        <div class="tab_pos_r">
                                            <div class="tab_img tabImgSet"><img src="" ondragstart="return false;" loading="lazy"></div>
                                            <div class="tab_txt" onselectstart="return false">
                                                <p>Multiple Ad Formats</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab_box tab_box_top" style="">
                            <div class="tab_content">
                                <div class="tab_main niceTabContent tabconSet">
                                    <div class="tab_div niceTabShow">
                                        <div id="image_style_01_1505365703531" class="view style_01 image  none wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.25s" data-wow-offset="0" data-wow-iteration="1">
                                            <div names="image" class="view_contents">
                                                <div class="imgStyle CompatibleImg">

                                                    <a href="javascript:;" target="">

                                                        <img class="picSet link-type-" src="./img/TAB1.jpg" title="" alt="描述" id="imageModeShow" loading="lazy">


                                                    </a>

                                                </div>


                                            </div>
                                        </div>
                                        <div id="text_style_01_1505365703541" class="view style_01 text  none wow fadeInLeft lockHeightView" data-wow-duration="1s" data-wow-delay="0.25s" data-wow-offset="0" data-wow-iteration="1">
                                            <div names="text" class="view_contents" style="display: flex; height: 406px; justify-content: flex-start; flex-wrap: wrap; align-content: space-around;">
                                                <div style="width: 25%;">
                                                    <div style="margin:0 auto;border-radius: 50%;height: 100px; width: 100px; background-color: #498d9c; display: flex; justify-content: center;align-items: center;"><img style="width: 50px;height: 50px;" src="./img/RTB.svg"></div>
                                                    <div style="color: #262626;font-size: 14px;text-align: center;">RTB</div>
                                                </div>
                                                <div style="width: 25%;">
                                                    <div style="margin:0 auto;border-radius: 50%;height: 100px; width: 100px; background-color: #498d9c; display: flex; justify-content: center;align-items: center;">
                                                        <img style="width: 50px;height: 50px;" src="./img/SDK.svg"></div>
                                                    <div style="color: #262626;font-size: 14px;text-align: center;">SDK</div>
                                                </div>

                                                <div style="width: 25%;">
                                                    <div style="margin:0 auto;border-radius: 50%;height: 100px; width: 100px; background-color: #498d9c; display: flex; justify-content: center;align-items: center;">
                                                        <img style="width: 50px;height: 50px;" src="./img/Online.svg"></div>
                                                    <div style="color: #262626;font-size: 14px;text-align: center;">Online API</div>
                                                </div>
                                                <div style="width: 25%;">
                                                    <div style="margin:0 auto;border-radius: 50%;height: 100px; width: 100px; background-color: #498d9c; display: flex; justify-content: center;align-items: center;">
                                                        <img style="width: 50px;height: 50px;" src="./img/Offline.svg"></div>
                                                    <div style="color: #262626;font-size: 14px;text-align: center;">Offline API</div>
                                                </div>
                                     

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab_div">
                                        <div id="image_style_01_1505365703547" class="view style_01 image  none wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.25s" data-wow-offset="0" data-wow-iteration="1">
                                            <div names="image" class="view_contents">
                                                <div class="imgStyle CompatibleImg">

                                                    <a href="javascript:;" target="">

                                                        <img class="picSet link-type-" src="./img/TAB2.jpg" title="" alt="描述" id="imageModeShow" loading="lazy">

                                                    </a>

                                                </div>


                                            </div>
                                        </div>
                                        <div id="text_style_01_1505365703553" class="view style_01 text  none wow fadeInUp lockHeightView" data-wow-duration="1s" data-wow-delay="0.25s" data-wow-offset="0" data-wow-iteration="1">
                                            <div names="text" class="view_contents" style="display: flex; height: 406px; justify-content: flex-start; flex-wrap: wrap; align-content: space-around;">
                                                <div style="width: 25%;">
                                                    <div style="margin:0 auto;border-radius: 50%;height: 100px; width: 100px; background-color: #498d9c; display: flex; justify-content: center;align-items: center;"><img style="width: 50px;height: 50px;" src="./img/e_comerce.svg"></div>
                                                    <div style="color: #262626;font-size: 14px;text-align: center;">E-commerce</div>
                                                </div>
                                                <div style="width: 25%;">
                                                    <div style="margin:0 auto;border-radius: 50%;height: 100px; width: 100px; background-color: #498d9c; display: flex; justify-content: center;align-items: center;"><img style="width: 50px;height: 50px;" src="./img/game.svg"></div>
                                                    <div style="color: #262626;font-size: 14px;text-align: center;">Game</div>
                                                </div>
                                                <div style="width: 25%;">
                                                    <div style="margin:0 auto;border-radius: 50%;height: 100px; width: 100px; background-color: #498d9c; display: flex; justify-content: center;align-items: center;"><img style="width: 50px;height: 50px;" src="./img/s-finance.svg"></div>
                                                    <div style="color: #262626;font-size: 14px;text-align: center;">Finance</div>
                                                </div>
                                                <div style="width: 25%;">
                                                    <div style="margin:0 auto;border-radius: 50%;height: 100px; width: 100px; background-color: #498d9c; display: flex; justify-content: center;align-items: center;"><img style="width: 50px;height: 50px;" src="./img/tool.svg"></div>
                                                    <div style="color: #262626;font-size: 14px;text-align: center;">Tool</div>
                                                </div>
                                                <div style="width: 25%;">
                                                    <div style="margin:0 auto;border-radius: 50%;height: 100px; width: 100px; background-color: #498d9c; display: flex; justify-content: center;align-items: center;">
                                                        <img style="width: 50px;height: 50px;" src="./img/Entertainment.svg"></div>
                                                    <div style="color: #262626;font-size: 14px;text-align: center;">Entertainment</div>
                                                </div>

                                                <div style="width: 25%;">
                                                    <div style="margin:0 auto;border-radius: 50%;height: 100px; width: 100px; background-color: #498d9c; display: flex; justify-content: center;align-items: center;">
                                                        <img style="width: 50px;height: 50px;" src="./img/Social.svg"></div>
                                                    <div style="color: #262626;font-size: 14px;text-align: center;">Social</div>
                                                </div>
                                                <div style="width: 25%;">
                                                    <div style="margin:0 auto;border-radius: 50%;height: 100px; width: 100px; background-color: #498d9c; display: flex; justify-content: center;align-items: center;">
                                                        <img style="width: 50px;height: 50px;" src="./img/Casino.svg"></div>
                                                    <div style="color: #262626;font-size: 14px;text-align: center;">Casino</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab_div">
                                        <div id="image_style_01_1505365703559" class="view style_01 image  none wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0" data-wow-iteration="1">
                                            <div names="image" class="view_contents">
                                                <div class="imgStyle CompatibleImg">

                                                    <a href="javascript:;" target="">

                                                        <img class="picSet link-type-" src="./img/TAB3.jpg" title="" alt="描述" id="imageModeShow" loading="lazy">

                                                    </a>

                                                </div>

                                            </div>
                                        </div>
                                        <div id="text_style_01_1505365703564" class="view style_01 text  none wow fadeInDown lockHeightView" data-wow-duration="1s" data-wow-delay="0.25s" data-wow-offset="0" data-wow-iteration="1">
                                            <div names="text" class="view_contents" style="display: flex; height: 406px; justify-content: flex-start; flex-wrap: wrap; align-content: space-around;">
                                                <div style="width: 30%;">
                                                    <div style="margin:0 auto;border-radius: 50%;height: 100px; width: 100px; background-color: #498d9c; display: flex; justify-content: center;align-items: center;"><img style="width: 50px;height: 50px;" src="./img/Performance.svg"></div>
                                                    <div style="color: #262626;font-size: 14px;text-align: center;"> Performance Demand</div>
                                                </div>
                                                <div style="width: 30%;">
                                                    <div style="margin:0 auto;border-radius: 50%;height: 100px; width: 100px; background-color: #498d9c; display: flex; justify-content: center;align-items: center;"><img style="width: 50px;height: 50px;" src="./img/Brand.svg"></div>
                                                    <div style="color: #262626;font-size: 14px;text-align: center;"> Brand Demand</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab_div">
                                        <div id="image_style_01_1505365703571" class="view style_01 image  none wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0" data-wow-iteration="1">
                                            <div names="image" class="view_contents">
                                                <div class="imgStyle CompatibleImg">
                                                    <a href="javascript:;" target="">
                                                        <img class="picSet link-type-" src="./img/TAB4.jpg" title="" alt="描述" id="imageModeShow" loading="lazy">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="text_style_01_1505365703576" class="view style_01 text  none wow fadeInRight lockHeightView" data-wow-duration="1s" data-wow-delay="0.25s" data-wow-offset="0" data-wow-iteration="1">
                                            <div names="text" class="view_contents" style="display: flex; height: 406px; justify-content: flex-start; flex-wrap: wrap; align-content: space-around;">
                                                <div style="width: 25%;">
                                                    <div style="margin:0 auto;border-radius: 50%;height: 100px; width: 100px; background-color: #498d9c; display: flex; justify-content: center;align-items: center;">
                                                        <img style="width: 50px;height: 50px;" src="./img/Push.svg">
                                                    </div>
                                                    <div style="color: #262626;font-size: 14px;text-align: center;">Push</div>
                                                </div>
                                                <div style="width: 25%;">
                                                    <div style="margin:0 auto;border-radius: 50%;height: 100px; width: 100px; background-color: #498d9c; display: flex; justify-content: center;align-items: center;">
                                                        <img style="width: 50px;height: 50px;" src="./img/Banner.svg">
                                                    </div>
                                                    <div style="color: #262626;font-size: 14px;text-align: center;"> Banner</div>
                                                </div>
                                                <div style="width: 25%;">
                                                    <div style="margin:0 auto;border-radius: 50%;height: 100px; width: 100px; background-color: #498d9c; display: flex; justify-content: center;align-items: center;">
                                                        <img style="width: 50px;height: 50px;" src="./img/Native.svg">
                                                    </div>
                                                    <div style="color: #262626;font-size: 14px;text-align: center;">Native</div>
                                                </div>
                                                <div style="width: 25%;">
                                                    <div style="margin:0 auto;border-radius: 50%;height: 100px; width: 100px; background-color: #498d9c; display: flex; justify-content: center;align-items: center;">
                                                        <img style="width: 50px;height: 50px;" src="./img/Video.svg">
                                                    </div>
                                                    <div style="color: #262626;font-size: 14px;text-align: center;">Video</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab_left_arrow arrowLeftSet"><a href="/#"></a></div>
                                <div class="tab_right_arrow arrowRightSet"><a href="/#"></a></div>
                            </div>
                        </div>
                    </div>

                    <script>
                        $(function() {
                            tab_style03_init("div_tab_style_03_1505365703357");
                            setClick_Choice("div_tab_style_03_1505365703357");


                            $(".tab_nav").show();
                            $(".tab_box").css({
                                top: '',
                                bottom: '',
                                right: '',
                                left: '',
                                height: '',
                                width: ''
                            });
                        });
                    </script>

                </div>
            </div>
        </div>
    </div>
    <div id="layout_1494832157305" class="layout " data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
        <div class="view_contents">
        </div>
    </div>
    
        <div component="footer.html">
            <script type="text/javascript" src="/js/customer.js"></script>
<div id="comm_layout_footer" class="layout  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
    <div class="view_contents">
        <div id="div_includeBlock_1490256629295" class="view includeBlock div  none includeView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
            <div names="div" class="view_contents">
                <div id="image_style_01_1490256629447" class="view style_01 image  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="image" class="view_contents">
                        <div class="imgStyle CompatibleImg">

                            <a href="javascript:;" target="">

                                <img class="picSet link-type-" src="./img/footer/z_04/7fb142ea899bd8ea15c21c7ecf9661f3.png" title="" alt="描述" id="imageModeShow" loading="lazy">

                            </a>

                        </div>

                        <!-- 新加的js  -->

                    </div>
                </div>
                <div id="image_style_01_1490256629455" class="view style_01 image  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="image" class="view_contents">
                        <div class="imgStyle CompatibleImg">

                            <a href="javascript:;" target="">

                                <img class="picSet link-type-" src="./img/footer/z_04/28a85caaa2119fec9657acfb6a9c5729.png" title="" alt="描述" id="imageModeShow" loading="lazy">

                            </a>

                        </div>

                        <!-- 新加的js  -->

                    </div>
                </div>
                <div id="image_style_01_1490256629459" class="view style_01 image  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="image" class="view_contents">
                        <div class="imgStyle CompatibleImg">

                            <a href="javascript:;" target="">

                                <img class="picSet link-type-" src="./img/footer/z_04/902ecb817eb330500d863b7b4c89d6df.png" title="" alt="描述" id="imageModeShow" loading="lazy">

                            </a>

                        </div>

                        <!-- 新加的js  -->

                    </div>
                </div>
                <div id="image_style_01_1490256629465" class="view style_01 image  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="image" class="view_contents">
                        <div class="imgStyle CompatibleImg">

                            <a href="javascript:;" target="">

                                <img class="picSet link-type-" src="./img/footer/z_04/50303a1615c273cb3bf982f23a25dfdb.png" title="" alt="描述" id="imageModeShow" loading="lazy">

                            </a>

                        </div>


                        <!-- 新加的js  -->

                    </div>
                </div>
                <div id="text_style_02_1490256629469" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="text" class="view_contents">
                        销售：400-622-8200

                    </div>
                </div>
                <div id="text_style_02_1490256629473" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="text" class="view_contents">
                        技术：400-622-8300

                    </div>
                </div>
                <div id="text_style_02_1490256629478" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="text" class="view_contents">
                        QQ：80092336

                    </div>
                </div>
                <div id="text_style_02_1490256629483" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="text" class="view_contents">
                        <a href="javascript:void(0);" target="" style="color:inherit" class="link-type--">在线留言</a>

                    </div>
                </div>
                <div id="text_style_02_1490256629488" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="text" class="view_contents">
                        <a href="/index.html?pageid=64914" target="" style="color:inherit" class="link-type--">首页</a>

                    </div>
                </div>
                <div id="text_style_02_1490256629493" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="text" class="view_contents">
                        <a href="/team.html?pageid=64915" target="" style="color:inherit" class="link-type--">团队</a>

                    </div>
                </div>
                <div id="text_style_02_1490256629497" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="text" class="view_contents">
                        <a href="/job.html?pageid=64910" target="" style="color:inherit" class="link-type--">服务案例 &nbsp; &nbsp;</a>

                    </div>
                </div>
                <div id="text_style_02_1490256629501" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="text" class="view_contents">
                        <a href="/news.html?pageid=64913" target="" style="color:inherit" class="link-type--">新闻中心</a>

                    </div>
                </div>
                <div id="text_style_02_1490256629505" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="text" class="view_contents">
                        <a href="/connect.html?pageid=64912" target="" style="color:inherit" class="link-type--">联系我们 &nbsp; &nbsp; &nbsp; &nbsp;</a>

                    </div>
                </div>
                <div id="text_style_02_1490256629509" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="text" class="view_contents">
                        Copyright © Funnel-yard.com

                    </div>
                </div>
            </div>
        </div>
        <div id="div_includeBlock_1494985956505" class="view includeBlock div  none includeView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
            <div names="div" class="view_contents">
                <div style="font-size: 52px;font-weight: 700;color: white;text-align: center;margin-top: 20px;">Contact Us</div>
                <div id="div_includeBlock_1494985956700" class="view includeBlock div  none includeView" data-wow-duration="1.8s" data-wow-delay="0.25s" data-wow-offset="0" data-wow-iteration="1">
                    <div names="div" class="view_contents">
                        <div id="text_style_02_1494985957014" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
                            <div names="text" class="view_contents">
                                <p style="color: white;font-size: 14px;">support@funnel-yard.com</p>
                                <p style="color: white;font-size: 14px;">Copyright &copy; <script>document.write(new Date().getFullYear())</script> Funnel-yard.Ltd.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>


</body></html>