<html>
    <head>
        <title>Media-raft</title>
        <link rel='stylesheet' id='select2-css'  href='./css/index.css' type='text/css'  />
        <link rel="stylesheet" href="./css/swiper-bundle.min.css">
        <link rel="shortcut icon" href="img/1000.png" type="image/x-icon">
		<link rel="apple-touch-icon" href="img/1000.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/1000.png">
		<link rel="apple-touch-icon" sizes="114x114" href="img/1000.png">
    </head>
    <body>
        <script src="./js/swiper-bundle.min.js"></script>
        <div class="header_zone">
            <div class="logo_bar">
                <div class="logo" style="display:flex;align-items: center;"><img src="./img/200-50.png" style="height:50px;"/></div>
                <div class="logos">
                    <img src="./img/facebook.png">
                    <img src="./img/in.png">

                    <img src="./img/insgram.png" style="width:20px;height:20px;">
                    <img src="./img/twitter.png">
                </div>
            </div>
            <div class="menu_bar">
                <div class="center">
                    <div class="menu_item">Home</div>
                    <div class="menu_item">Advertisers</div>
                    <div class="menu_item">Publishers</div>
                    <div class="menu_item">About</div>
                    <div class="menu_item">Contact</div>
                </div>
            </div>
        </div>
        <div class="swiper_outer">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="./img/BlendAi-Bigital-Banner.jpg"></div>
                    <div class="swiper-slide"> <img src="./img/images-3853117_960_720.jpg"></div>
                </div>
          
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
                
                <!-- 如果需要导航按钮 -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                
                <!-- 如果需要滚动条 -->
                <div class="swiper-scrollbar"></div>
            </div>
            <div class="innerbox">
                <p>Market Smarter with </p>
                <p>Media-raft Digital</p>
            </div>
        </div>
   
        <script>        
            var mySwiper = new Swiper ('.swiper', {
              direction: 'vertical', // 垂直切换选项
              loop: true, // 循环模式选项
              
              // 如果需要分页器
              pagination: {
                el: '.swiper-pagination',
              },
              
              // 如果需要前进后退按钮
              navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
              },
              
              // 如果需要滚动条
              scrollbar: {
                el: '.swiper-scrollbar',
              },
            })        
            </script>

        <div class="centerTip">GIVE YOUR BUSINESS AN AI-BLENDED EDGE WITH OUR MARKETING SOLUTIONS!</div>
        <div class="cardTitle">OUR SERVICES</div>
        <div class="cardflex">
            <div class="cardbox">
                <div class="cardpic"><img src="./img/Untitled-74-512-150x150.png"></div>
                <h4 class="card_inTitle">PERFORMANCE MARKETING</h4>
                <div class="content_card">
                    In an increasingly mobile world, the conventional piecemeal approach to digital marketing has shifted to a more competitive cross-channel approach. Our Performance Marketing Services combine our capabilities across digital touch points to optimize…
                </div>
            </div>
            <div class="cardbox" style="margin:0 60px">
                <div class="cardpic" ><img src="./img/mobile-advertising-1-505365-150x150.png"></div>
                <h4 class="card_inTitle">MOBILE ADVERTISING</h4>
                <div class="content_card">With consumers becoming more and more tech savvy and demanding and spending more time on surfing the net, creating ads only for web based platforms is not enough for a growing business. To capture a broader market, you have to create ads…</div>
            </div>
            <div class="cardbox" >
                <div class="cardpic"><img src="./img/planning-150x150.png"></div>
                <h4 class="card_inTitle">PROGRAMMATIC MEDIA BUYING</h4>
                <div class="content_card">
                    Media buying is the result of calculated research, strategic planning and the multi-million dollar buying power to negotiate rates that are both efficient and effective for your campaign. Our experience allows us to identify the proper targets and trends…
                </div>
            </div>
         
       
            <div class="cardbox" >
                <div class="cardpic"><img src="./img/email-150x150.png"></div>
                <h4 class="card_inTitle">EMAIL MARKETING</h4>
                <div class="content_card">Email Marketing can take your business to another level as Email is the currency of web nowadays. Anyone who is online has an active email address.. So why not use Email Marketing for your business to broaden the reach. Media-raft Offers Business Email Marketing Service to send…</div>
            </div>
           
            <div class="cardbox" style="margin:0 60px">
                <div class="cardpic"><img src="./img/branding-150x150.png"></div>
                <h4 class="card_inTitle">BRANDING ACTIVITIES</h4>
                <div class="content_card">Make no mistake about it: a recognizable and loved brand is one of the most valuable assets a company owns.With a dedicated team and years of experience has led Blend AI to partner with the brands and agencies to achieve superior results through direct…

                </div>
            </div>
            <div class="cardbox" >
                <div class="cardpic"><img src="./img/social-media-marketing-hansikar-technologies-150x150.png"></div>
                <h4 class="card_inTitle">ADWORDS & SOCIALMEDIA</h4>
                <div class="content_card">As social media platforms become more crowded, it’s harder for your business to stand out. Social media advertising on Facebook, Instagram,Twitter and even Google Adwords can help you increase brand awareness,drive traffic, and support your sales…</div>
            </div>
        </div>
        <div class="success">
            <h1 ><span>Success</span> We ensure that every campaign is a Success!</h1>
            <h1>Success!</h1>
            <div>Infinite possibilities. Endless opportunities.</div>
        </div>
        <div class="sperate">EASY INTEGRATION WITH ALL TRACKING PARTNERS</div>
        <div class="logos_arr">
            <div class="arr_box"><img src="./img/ad-01.png"/></div>
            <div class="arr_box"><img src="./img/ad-02.png"/></div>
            <div class="arr_box"><img src="./img/ad-03.png"/></div>
            <div class="arr_box"><img src="./img/ad-04.png"/></div>
            <div class="arr_box"><img src="./img/ad-05.png"/></div>
        </div>
        <div class="sperate">OUR CLIENTS</div>
        <div class="logos_arr" style="width:1400px;">
            <div class="arr1_box"><img src="./img/1-4.png"/></div>
            <div class="arr1_box"><img src="./img/Logo-OYO-300x100.png"/></div>
            <div class="arr1_box"><img src="./img/3.png"/></div>
            <div class="arr1_box"><img src="./img/4.png"/></div>
            <div class="arr1_box"><img src="./img/5.png"/></div>
            <div class="arr1_box"><img src="./img/6.png"/></div>
            <div class="arr1_box"><img src="./img/7.png"/></div>
            <div class="arr1_box"><img src="./img/8.png"/></div>
            <div class="arr1_box"><img src="./img/9.jpg"/></div>
            <div class="arr1_box"><img src="./img/10.png"/></div>
            <div class="arr1_box"><img src="./img/11.png"/></div>
            <div class="arr1_box"><img src="./img/12.jpg"/></div>
        </div>
        <div class="Story">
            <h1 >What makes Media-raft a preferred marketing</h1>
            <h1>partner is our Result-driven Team!</h1>
            <h1><span>Behind The Story</span></h1>
        </div>
        <div class="footer">
            <div class="container">
                <div class="footer-content">
                           <img src="./img/200-50.png"/>
                </div>
                <div style="margin: 0 5px 0 0;text-align: center;font-size: 14px;">
                    Copyright &copy; <script>document.write(new Date().getFullYear())</script><span class="sep"></span>
                    Media-raft.Ltd.<br/>
                    support@media-raft.com
                </div>
            </div>
        </div>
    </body>
</html>