<!DOCTYPE html>
<html lang="en-IN">

<head>
	<title>Advsummit</title>
	<link rel="icon" type="image/png" sizes="192x192" href="img/1000.png">
	<link rel="stylesheet" href="./css/index.css">
</head>

<body>
	<div class="bodys">
		<div class="headers">
			<div class="logo">
				<img src="./img/200-50.png" style="height: 50px;" />
			</div>
			<div class="menus">
				<div class="menus_item"><a href="#">home</a></div>
				<div class="menus_item"><a href="#work">work</a></div>
				<div class="menus_item"><a href="#service">service</a></div>
				<div class="menus_item"><a href="#about">about</a></div>
				<div class="menus_item"><a href="#contact">contact</a></div>
			</div>
		</div>
		<div class="body_contents">
			<div class="color_bar"></div>
			<div class="_r">
				<div class="lefttop">
					<div class="title_img">
						<img src="./img/design-agency-5.png" style="width:100%;height:100%;" />
					</div>
					<div class="titlebig">Advsummit To Your Online Reach</div>
				</div>
				<div class="righttop">
					<img src="./img/design-agency-10.png">
				</div>
			</div>

			<div class="_s">
				An advertising, media and ad-tech company that represents top platforms and publishers, connecting
				brands with consumers.​
			</div>
			<div class="_btns">
				our work
			</div>

			<div id="work" class="_t">
				<div class="_t_item">
					<div class="t0"><img src="./img/design-agency-icon-05.png" /></div>
					<p class="_p">Social Media</p>
					<p class="_con">Strategic planning choosing the best channels and platforms to spread your brand
						values to the right audience</p>
				</div>
				<div class="_t_item">
					<div class="t0"><img src="./img/design-agency-icon-06.png" /></div>
					<p class="_p">Technology</p>
					<p class="_con">Finding the best match between people with the right influence and your brand
						values, all supported by powerful technology</p>
				</div>
				<div class="_t_item">
					<div class="t0"><img src="./img/design-agency-icon-04.png" /></div>
					<p class="_p">Advertising</p>
					<p class="_con">We offer deep data analysis and precision-targeted performance advertising. We offer
						some of the best commissions in the affiliate marketing industry</p>
				</div>
			</div>

			<div class="_fec">
				<img src="./img/design-agency-11.png" />
			</div>
			<div class="_black_t">
				<p class="_in">INTRODUCTION</p>
				<p class="_gr">Let’s Bring Your Creative</p>
				<p class="_gr" style="margin-bottom: 40px;">Ideas to Life</p>

				<p class="_cr">At Advsummit, we specialize in delivering targeted advertising solutions that drive
					results. Our expertise lies in understanding the unique needs of brands and leveraging cutting-edge
					ad-tech tools to connect them with their ideal consumers.</p>
			</div>
			<div class="color_bar_e"></div>
		</div>
		<div id="service" class="_hh">
			<div class="_ff">
				<p class="_ser">SERVICES</p>
				<p class="_hi1">Our Creative</p>
				<p class="_hi1">Services</p>
			</div>
			<div class="_ee">
				<img src="./img/design-agency-6.png" style="width: 153px;height: 95px;margin-bottom: 30px;">
				<p>We specialize in crafting compelling brand stories that resonate with consumers, leveraging our
					expertise in advertising, media, and ad-tech. From innovative campaigns to captivating content
					creation, we bring together creativity and strategy to create unique experiences that drive
					engagement and build brand loyalty.</p>
			</div>
		</div>
		<div class="six_b">
			<div class="left_s">
				<div class="s_item">
					<img src="./img/design-agency-icon-02.png" style="width: 64px;height: 65px;">
					<p class="s_item_title">Affiliate Marketing</p>
					<p class="s_item_con">Driving growth through strategic partnerships and lucrative collaborations.
					</p>
				</div>
				<div class="s_item">
					<img src="./img/design-agency-icon-03.png" style="width: 64px;height: 65px;">
					<p class="s_item_title">Performance Marketing</p>
					<p class="s_item_con">Maximizing ROI through data-driven campaigns and measurable results.</p>
				</div>
				<div class="s_item">
					<img src="./img/design-agency-icon-04.png" style="width: 64px;height: 65px;">
					<p class="s_item_title">Branding</p>
					<p class="s_item_con">Building strong brand identities that resonate, inspire, and leave a lasting
						impression.</p>
				</div>
			</div>
			<div class="left_s btsa">
				<div class="s_item">
					<img src="./img/design-agency-icon-05.png" style="width: 64px;height: 65px;">
					<p class="s_item_title">Influencer Marketing</p>
					<p class="s_item_con">Harnessing the power of influential voices to create authentic brand
						connections.</p>
				</div>
				<div class="s_item">
					<img src="./img/design-agency-icon-06.png" style="width: 64px;height: 65px;">
					<p class="s_item_title">Audience Analysis</p>
					<p class="s_item_con">Uncovering valuable insights to target the right audience with precision and
						impact.</p>
				</div>
				<div class="s_item">
					<img src="./img/design-agency-icon-08.png" style="width: 64px;height: 65px;">
					<p class="s_item_title">Design Creatives</p>
					<p class="s_item_con">Build brand awareness and increase engagement through Rich Media.</p>
				</div>
			</div>
		</div>
		<div id="about" class="body_contents">
			<div class="color_bar" style="border-bottom: none;"></div>
			<div class="six_b" style="padding: 0 60px;box-sizing: border-box;">
				<div class="left_s _full">
					<h4>STRATEGY</h4>
					<h1 class="_h1a">Our Approach</h1>
				</div>
				<div class="left_s _full _cons">
					With a deep understanding of advertising, media, and ad-tech, we leverage cutting-edge technologies
					and insights to craft customized solutions that resonate with your target audience.
				</div>
			</div>
			<div class="six_b" style="padding: 0 60px;box-sizing: border-box;">
				<div class="thr_fe">
					<img src="./img/Brand-requirement-scaled.jpg" alt="">
					<h4 class="_h4s">Brief</h4>
					<p class="thr_conm">Understanding brand requirement and KPI</p>
				</div>
				<div class="thr_fe">
					<img src="./img/Setting-Brand-Strategy-1280x854.jpg" alt="">
					<h4 class="_h4s">Strategy</h4>
					<p class="thr_conm">Building brand recall and driving maximum output</p>
				</div>
				<div class="thr_fe">
					<img src="./img/digital-growth-1280x850.jpg" alt="">
					<h4 class="_h4s">Target</h4>
					<p class="thr_conm">Over achieving the planned targets</p>
				</div>

			</div>
			<div class="color_bar_e"></div>
		</div>
	</div>
	<div id="contact" class="footers">
		<div class="color_bar_e" style="border-radius: 0;"></div>
		<div class="foo_inn">
			<div class="foo_item">
				<h2 style="margin-bottom: 20px;">Advsummit</h2>
				<h3>Advsummit To Your Online Reach</h3>
			</div>
			<div class="foo_item">
				<h3 class="_oo">Contact</h3>
				<p class="_oo" style="color: #fcb900;">
				<p style="background-color: #262626;padding-bottom: 20px;">support@advsummit.com</p>
				</p>
			</div>
		</div>
		<div style=" width: 1070px;margin:30px auto 0;background-color: #262626;">
			<h3 style="background-color: #262626;">Copyright &copy;
				<script>document.write(new Date().getFullYear())</script> Advsummit.Ltd.
			</h3>
		</div>
	</div>
</body>

</html>