<!DOCTYPE html>
<html lang="en-IN">

<head>
    <title>Adpromox</title>
    <link rel="icon" type="image/png" sizes="192x192" href="img/1000.png">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div class="nav">
       <span> Adpromox</span> <img src="./img/200-50.png" style="height: 50px;">
    </div>
    <div class="headers">
        <!-- <div class="headers_video">
            <p>Adpromox</p>
            <p></p>
        </div> -->
        <div class="headers_fonts">
            <p style="font-size: 88px;font-weight: 700;">Adpromox</p>
            <p  style="font-size: 48px;font-weight: 700;">We are more than a digital marketing agency, We are your strategic partner in the dynamic world of online presence. </p>
            
        </div>

    </div>
    <div class="one_title">About Adpromox</div>
    <div class="cards">
        <div class="carditem">
            <div class="cardpic">
                <img src="./img/pic1.webp">
            </div>
            <div class="cardfonts">
                <p class="card_name">ADVERTISERS</p>
                <p style="font-weight: 600">Expand your audience reach</p>
                <p>Drive more sales in your target markets through our network of world-class partners.</p>
            </div>
        </div>
        <div class="carditem" style="margin: 0 50px;">
            <div class="cardpic"><img src="./img/pic2.webp"></div>
            <div class="cardfonts">
                <p  class="card_name">PARTNERS</p>
                <p style="font-weight: 600">Partner with the top brands worldwide</p>
                <p>Earn generous commissions through exclusive campaigns with major global brands.</p>
            </div>
        </div>
        <div class="carditem">
            <div class="cardpic"><img src="./img/pic3.webp"></div>
            <div class="cardfonts">
                <p class="card_name"> 0% Fraud Guaranteed</p>
                <p style="font-weight: 600">Adpromox utilizes a unique traffic</p>
                <p>scoring platform that analyses more than 100+ parameters and patterns to detect fraud with an average 95% efficiency, reducing fraud events to 0%</p>
            </div>
        </div>
    </div>
    <div class="graybg">
        <div class="gr_title">Achieve success through our partnership solutions!</div>
        <div class="gr_table">
            <div class="gr_table_item">
                <p class="gr_table_it_title">Affiliate Network India</p>
                <p class="gr_table_it_content">Harness our affiliate network in India to drive your growth. Join our award-winning network to grow your brand through high-quality partnerships and campaigns. </p>
            </div>
            <div class="gr_table_item" style="margin: 0 50px;">
                <p class="gr_table_it_title">Campaigns Service Levels</p>
                <p class="gr_table_it_content">Unlock expertise to optimize your campaigns. Take advantage of strategic planning, campaign management and commercial advice to improve your performance. </p>
            </div>
            <div class="gr_table_item">
                <p class="gr_table_it_title">Partner Platform</p>
                <p class="gr_table_it_content">Unlock the technology to deliver high-performance partnership marketing campaigns. Reach your ideal customers, grow your sales and simplify your processes through our platform, Optimize Insights. </p>
            </div>
        </div>
        <div class="gr_table">
            <div class="gr_table_item">
                <p class="gr_table_it_title">Search Engine Optimization</p>
                <p class="gr_table_it_content"> Liberate your business from the shadows of unnoticed search engine pages. Ascend to visibility on prime spots across platforms like Google and Bing, your audience's digital havens. Leveraging tried-and-true organic growth techniques, we engineer exceptional SEO strategies that catapult your online
                    presence.</p>
            </div>
            <div class="gr_table_item" style="margin: 0 50px;">
                <p class="gr_table_it_title">Measurability and Transparency</p>
                <p class="gr_table_it_content">Adpromox provides unique access to the campaign targeting, goals, creatives and performance, allowing full transparency and measurability of your activity with real-time KPIs.</p>
            </div>
            <div class="gr_table_item">
                <p class="gr_table_it_title">Rewards</p>
                <p class="gr_table_it_content">Multiply your sales through digital vouchers and incentives. Optimise Rewards is our complete rewards solution for advertisers and publishers. </p>
            </div>
        </div>
    </div>

    <div class="one_title">Social</div>
    <div class="ins">
        <div class="ins_fonts">
            in
        </div>
      
    </div>

    <div class="graybg">
        <div class="gr_title">Contact Us</div>
        <div class="maxcontents">
            Adpromox is one of the leading organization that strive for innovation and experimenting with new ways to provide solutions that make your business thrive and help you stay on top. 
        </div>
        <div class="namesew">Adpromox</div>
        <div class="maxcontents">Sector 42, Noida, Uttar Pradesh, India</div>
        <div class="supports">support@adpromox.com</div>
        <div class="namesew">Hour</div>
        <div style="text-align: center;"><span class="open">Open today</span><span class="times">09:00 am – 05:00 pm</span></div>
    </div>
    <div class="footer">
        <img src="./img/200-50.png" alt="" style="height: 75px;"><br/>
        Copyright  &copy; <script>document.write(new Date().getFullYear())</script>, All Rights Reserved | Adpromox
    </div>
</body>

</html>