<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Growthharborhk</title>
        <link rel="shortcut icon" href="./img/1000.png" type="image/png">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='./css/index.css'>
        <link rel="stylesheet" href="./styles/iconfont.css">
    </head>

    <body>
        <div class="body_sa">
            <div class="menu">
                <img src="./img/200-50.png" />
            </div>
            <div class="banner">
                <video autoplay loop style="width: 100%;">
                    <source src="./img/bannerVideo.mp4" />
                </video>
            </div>

            <div class="t1">
                <h1>Global creative agency specializing in world-class brands.</h1>
                <p>At Branding Records, we transform companies by designing best-in-class experiences, driven by strong creative that is rooted in technology, data, and informed strategy.</p>
                <p>We combine our refined approach to Marketing, Strategy, Design and Execution into a single solution, creating unified brand experiences that change industries and foster meaningful relationships with users.</p>
                <h6>Our Services</h6>
            </div>
            <div class="gi">
                <div class="gi_img"><img src="./img/1.png" alt=""/></div>

                
                <div class="gi_img"><img src="./img/2.png" alt=""/></div>
                <div class="gi_img"><img src="./img/3.png" alt=""/></div>
                <div class="gi_img"><img src="./img/4.png" alt=""/></div>
                <div class="gi_img"><img src="./img/5.png" alt=""/></div>
                <div class="gi_img"><img src="./img/6.png" alt=""/></div>
                <div class="gi_img"><img src="./img/7.png" alt=""/></div>
                <div class="gi_img"><img src="./img/8.png" alt=""/></div>
                <div class="gi_img"><img src="./img/9.png" alt=""/></div>
                <div class="gi_img"><img src="./img/10.png" alt=""/></div>
                <div class="gi_img"><img src="./img/11.png" alt=""/></div>
                <div class="gi_img"><img src="./img/12.png" alt=""/></div>
                <div class="gi_img"><img src="./img/13.png" alt=""/></div>
                <div class="gi_img"><img src="./img/14.png" alt=""/></div>
                <div class="gi_img"><img src="./img/15.png" alt=""/></div>
                <div class="gi_img"><img src="./img/16.png" alt=""/></div>
                <div class="gi_img"><img src="./img/17.png" alt=""/></div>
                <div class="gi_img"><img src="./img/18.png" alt=""/></div>
            </div>
            <div class="grayse">
                <h1>Our Services</h1>
                <div class="gr_gi">
                    <div class="grgi_it">
                        <h1>Strategy & Branding</h1>
                        <h3>Building a brand that speaks to your ideal customer.</h3>
                        <div class="gir_gis">
                            <div class="gir_itemsgis">Research & Workshop</div>
                            <div class="gir_itemsgis">Brand Strategy</div>
                            <div class="gir_itemsgis">Visual Identity</div>
                            <div class="gir_itemsgis">Go-To-Market Strategy</div>
                        </div>
                    </div>
                    <div class="grgi_it">
                        <h1>Digital Marketing</h1>
                        <h3>Optimizing brand presence leveraging latest digital trends.</h3>
                        <div class="gir_gis">
                            <div class="gir_itemsgis">Digital Advertising</div>
                            <div class="gir_itemsgis">UI/UX Design</div>
                            <div class="gir_itemsgis">Social Media Marketing</div>
                            <div class="gir_itemsgis">Web Development</div>
                        </div>
                    </div>
                    <div class="grgi_it">
                        <h1>Campaign Activation</h1>
                        <h3>Effectively crafting meaningful interactions with your audience.</h3>
                        <div class="gir_gis">
                            <div class="gir_itemsgis">360 Brand Experience</div>
                            <div class="gir_itemsgis">Planning & Execution</div>
                            <div class="gir_itemsgis">Creative & Experiential Marketing</div>
                            <div class="gir_itemsgis">Testing & Optimisation</div>
                        </div>
                    </div>
                    <div class="grgi_it">
                        <h1>Content Production</h1>
                        <h3>Bringing your brand to life with state-of-the-art creative execution.</h3>
                        <div class="gir_gis">
                            <div class="gir_itemsgis">Art Direction</div>
                            <div class="gir_itemsgis">Design</div>
                            <div class="gir_itemsgis">Photo and Video Production</div>
                            <div class="gir_itemsgis">Copywriting</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="red_v">
                <video autoplay loop style="width: 100%;">
                    <source src="./img/redvideo.mp4" />
                </video>
               
            </div>
            <div class="strew">Moschino - Hop into the magic.</div>

            <div class="four_gi">
                <div class="four_gi_item">
                    <div class="gi_video">
                        <img src="./img/innocent_site_banner.png" style="width: 100%;" alt="">
                    </div>
                   
                    <div class="videotitle">Innocent - Juicy impressions for the long haul.</div>
                </div>
                <div class="four_gi_item">
                    <div class="gi_video">
                        <img src="./img/yinghua.jpeg"  style="width: 100%;"  alt="">
                    </div>
                    <div class="videotitle">FERRAGAMO - Tiger in Wonderland.</div>
                </div>
                <div class="four_gi_item">
                    <div class="gi_video">
                        <img src="./img/Glutanexfeature.jpg"  style="width: 100%;"  alt="">
                    </div>
                    <div class="videotitle">Glutanex - Bringing International Brands to the Stage of Hong Kong.</div>
                </div>
                <div class="four_gi_item">
                    <div class="gi_video">
                        <img src="./img/Bushmillsfeature.jpg"  style="width: 100%;"  alt="">
                    </div>
                    <div  class="videotitle">Bushmills - New ways to engage with a younger crowd.</div>
                </div>
            </div>

            <div class="grayse">
                <div class="t_r">
                    <div class="t_r_i">
                        <p class="t_r_itt">750k+</p>
                        <p class="t_r_icon">New followers generated<br/>
                            for our clients</p>
                    </div>
                    <div class="t_r_i">
                        <p class="t_r_itt">30m+</p>
                        <p class="t_r_icon">Organic impressions generated<br/>
                            for our clients</p>
                    </div>
                    <div class="t_r_i">
                        <p  class="t_r_itt">250+</p>
                        <p class="t_r_icon">Campaigns managed<br/>
                            by our team</p>
                    </div>
                </div>
            </div>
            <div class="strew">Gryfyn - From zero to top billing of a global motorsports event.</div>
            <div class="four_gi">
                <div class="four_gi_item">
                    <div class="gi_video">
                        <img src="./img/CNTravelThumbnail.jpg" style="width: 100%;" alt="">
                    </div>
                   
                    <div class="videotitle">Unlocking the Power of Travel Digital Marketing: Chinese Travelers Resuming Strong by Q4 2023.</div>
                </div>
                <div class="four_gi_item">
                    <div class="gi_video">
                        <img src="./img/_SE_6.jpg"  style="width: 100%;"  alt="">
                    </div>
                    <div class="videotitle">The Sharing Economy.</div>
                </div>
                <div class="four_gi_item">
                    <div class="gi_video">
                        <img src="./img/_FGR.gif"  style="width: 100%;"  alt="">
                    </div>
                    <div class="videotitle">Alfred24  - A new vision for an innovative brand.</div>
                </div>
                <div class="four_gi_item">
                    <div class="gi_video">
                        <img src="./img/_GHJR.gif"  style="width: 100%;"  alt="">
                    </div>
                    <div  class="videotitle">Sexy Crab -  How peak curiosity killed the crab.</div>
                </div>
            </div>

            <div class="grayse">
                <h1>Our projects have been featured on<br/>
                    globally leading publications.</h1>
                <div class="imgs_flex">
                    <div class="giI_img"><img src="./img/5.png" alt=""/></div>
                    <div class="giI_img"><img src="./img/6.png" alt=""/></div>
                    <div class="giI_img"><img src="./img/7.png" alt=""/></div>
                    <div class="giI_img"><img src="./img/8.png" alt=""/></div>
                    <div class="giI_img"><img src="./img/9.png" alt=""/></div>
                    <div class="giI_img"><img src="./img/10.png" alt=""/></div>
                    <div class="giI_img"><img src="./img/11.png" alt=""/></div>
                    <div class="giI_img"><img src="./img/12.png" alt=""/></div>
                </div>
                <div class="lines_one"></div>
                <p style="font-size: 40px;line-height: 40px;">Work With Us</p>
                <p style="font-size: 16px;padding-bottom: 60px;margin-top: 14px;">support@growthharborhk.com</p>
            </div>
        </div>
    </body>
</html>