<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Boostatlas</title>
    <link rel="shortcut icon" href="./img/1000.png" type="image/png">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./css/index.css'>
    <link rel="stylesheet" href="./styles/iconfont.css">
</head>
<body>
    <div class="menubar">
        <img style="height: 89px;" src="./img/200-50.png"/>
    </div>
    <div class="banner">
        <div class="bannerin">
            <h1>Maximize your ROI</h1>
            <p> Here to help you grow your Business</p>
        </div>
      
    </div>
    <div class="grayzone">

    <div class="title_one">
        <h3>Top Quality Services for you</h3>
        <h1>Our Products</h1>
    </div>
    <div class="cardbox">
        <div class="carditem">
            <div class="imgbox">
                <img src="./img/displayandrichmedia.jpg" alt="" style="width: 100%;height: 100%;"/>
            </div>
            <p class="imgtitle">Mobile Marketing</p>
            <p class="img_cont">We aim to reach target audience on their smartphones, tablets or other mobile device through in-app marketing, emails, sms etc.</p>
        </div>
        <div class="carditem">
            <div class="imgbox">
                <img src="./img/Email-marketing.png" alt="" style="width: 100%;height: 100%;"/>
            </div>
            <p class="imgtitle">Email Marketing</p>
            <p class="img_cont">It is the most effective source wherein we can segment the database basis the targeting to deliver best results.</p>
        </div>
        <div class="carditem">
            <div class="imgbox">
                <img src="./img/Mobile-marketing.png" alt="" style="width: 100%;height: 100%;"/>
            </div>
            <p class="imgtitle">Display, Rich Media & Video Advertising</p>
            <p class="img_cont">We continually engage consumers and influence them to purchase with advanced retargeting strategies through our display ads.</p>
        </div>
        <div class="carditem">
            <div class="imgbox">
                <img src="./img/nativeadscape1.jpg" alt="" style="width: 100%;height: 100%;"/>
            </div>
            <p class="imgtitle">Native Ads</p>
            <p class="img_cont">Content has always been an emerging technologies in the digital space. Through our native ads, we focus on driving the exposure on all relevant ads that uplift your brand.</p>
        </div>
    </div>
            
    </div>
    <div class="title_one">
        <h3>ABOUT US</h3>
        <h1>WHO WE ARE</h1>
       
    </div>
    <div class="contes">Boostatlas is an affiliate network that offer series of digital marketing solutions. We help advertisers & publishers gain highest ROI by offering a wide range of innovative solutions for performance based marketing. We utilize best in class analytics based methodologies in managing campaigns and delivering desired ROI.</div>
    <div class="follows">
        <div class="fo_item">
            <p>We are a team of young digital marketing professionals known for an unconventional approach to common advertising issues and zealous pursuit of our partners’ objectives. We build strong business relationships based on open and transparent communication. Our belief is working smart and delivering committed services on time. We just love Digital Marketing.</p>
            <p>We Value Our People, Our Client , Our Environment, Most of all we value Humanity and Ethical Work Culture.</p>
            <p style="text-align: center;
            color: #000000;
            font-size: 12px;
            font-weight: 900;
            text-transform: uppercase;
            ">Follow us</p>
      
        </div>
        <div class="fo_item">
            <img src="./img/office.gif"/>
        </div>
    </div>
    <div class="bg1">
        <h1>Why Choose US?</h1>
        <div class="follows" style="height: auto; justify-content: space-around;" >
            <div class="fo_item">
               <h1 style="  font-size: 40px;
               margin-bottom: 30px;">As an Advertiser</h1> 
               <div class="fewfew">Global Affiliate Partners</div>
               <div class="fewfew">Multi Screen Promotion</div>
               <div class="fewfew">Advanced Analytics</div>
               <div class="fewfew">Custom Tailored Solutions</div>
            </div>
            <div class="fo_item">
                <h1 style="  font-size: 40px;
                margin-bottom: 30px;">As an Publisher</h1> 
                <div class="fewfew">Advanced Publisher Tools</div>
                <div class="fewfew">Programmed Monetization</div>
                <div class="fewfew">Global Offers</div>
                <div class="fewfew">Dedicated Consultation</div>
                <div class="fewfew">Stipulated Payments</div>
                <div class="fewfew">Exclusive Campaigns</div>
            </div>
        </div>

    </div>
    <h1 class="orve">Our Clients</h1>
    <div class="logosbar">
        <img src="./img/paytm.jpg" alt="paytm">
        <img src="./img/phone-pe.jpg" alt="paytm">
        <img src="./img/snai.jpg" alt="paytm">
        <img src="./img/swiggy.jpg" alt="paytm">
        <img src="./img/tokopedia.jpg" alt="paytm">
        <img src="./img/zalora.jpg" alt="paytm">
    </div>
    <div class="bg2">
        <h1>Effective Campaign Optimization </h1>
        <p style="margin-bottom:90px;">Targeting the right audience is the key to Conversion. But, regular optimization is a gear lever to boost performance. We love doing it.</p>
    
        <div class="cardbox">
            <div class="carditem">
                <div class="imgbox">
                    <img src="./img/client-servicing-150x150.png" alt="" style="width: 150px;height: 150px;"/>
                </div>
                <p class="imgtitle" style="color: white;">Mobile Marketing</p>
                <p class="img_cont" style="color: white;">We aim to reach target audience on their smartphones, tablets or other mobile device through in-app marketing, emails, sms etc.</p>
            </div>
            <div class="carditem">
                <div class="imgbox">
                    <img src="./img/reporting-150x150.png" alt="" style="width: 150px;height: 150px;"/>
                </div>
                <p class="imgtitle" style="color: white;">Email Marketing</p>
                <p class="img_cont"  style="color: white;">It is the most effective source wherein we can segment the database basis the targeting to deliver best results.</p>
            </div>
            <div class="carditem">
                <div class="imgbox">
                    <img src="./img/targeting-150x150.png" alt="" style="width: 150px;height: 150px;"/>
                </div>
                <p class="imgtitle" style="color: white;">Display, Rich Media & Video Advertising</p>
                <p class="img_cont" style="color: white;">We continually engage consumers and influence them to purchase with advanced retargeting strategies through our display ads.</p>
            </div>
            <div class="carditem">
                <div class="imgbox">
                    <img src="./img/delivery-truck-150x150.png" alt="" style="width: 150px;height: 150px;"/>
                </div>
                <p class="imgtitle" style="color: white;">Native Ads</p>
                <p class="img_cont" style="color: white;">Content has always been an emerging technologies in the digital space. Through our native ads, we focus on driving the exposure on all relevant ads that uplift your brand.</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="title_one">
            <h3>ABOUT US</h3>
            <h1>WHO WE ARE</h1>
           
        </div>
        <div class="expand">
            Expand your reach through our premium global network. Bolstered by data intelligence and a commitment to transparency, our intuitive products make affiliate marketing a highly profitable marketing strategy that engages consumers in moments of discovery and drives incremental revenue for your brand.
        </div>
        <div  class="expand">
            Follow Us here:support@boostatlas.com
        </div>
        <div class="bottoms">
            Copyright © <script>document.write(new Date().getFullYear())</script> Boostatlas - think digital, think US – OnePress theme by FameThemes 
        </div>
    </div>
</body>
</html>
